<ion-view title="Add Product">
    <ion-content class="has-header">

        <img ng-src="{{imageData}}" style="height: 300px; width: 100%"/>

        <a class="button button-block button-outline button-energized" ng-click="getPhoto()">Choose pic</a>

    </ion-content>
</ion-view>
