<ion-view title='<img src="/images/logo-green.png" />'>
    <ion-content class="has-header">
        <div class="add-item-wrap">
            <div class="add-photo-wrap">
                <div class="padding ttl small-size"><span>*</span> You Have to Upload 3 Product Photos (front, back & side )</div>
                <div class="row">
                    <div class="col col-33"><span class="add-photo"><i class="ion-plus"></i><br>ADD PHOTOS</span></div>
                    <div class="col add-btn"><div><p class="ttl">Image From SIDE</p><div class="button button-balanced"><span>Add Photo</span><input type="file" class="button-file" value="Add Photo"></div></div>
                </div>
                </div>
            </div>
            <div class="row add-photo-sides">
                <div class="col"><span class="front"><b class="front-b">Front</b><i class="ion-ios-close-empty"></i></span></div>
                <div class="col"><span class="front"><b class="front-b">Back</b><i class="ion-ios-close-empty"></i></span></div>
                <div class="col"><span class="front">Not Added Yet<b class="front-b">Side</b></span></div>
            </div>
            <div class="padding"><i class="ion-chatbox"></i> Fill the form below :</div>
            <div class="list padding type">
                <label class="item item-input item-select">
                  <select>
                    <option selected>Type</option>
                    <option>Green</option>
                    <option>Red</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <select>
                    <option selected>Make</option>
                    <option>Green</option>
                    <option>Red</option>
                  </select>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Model">
                </label>
                <label class="item item-input item-select">
                  <select>
                    <option selected>Year</option>
                    <option>Green</option>
                    <option>Red</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <select>
                    <option selected>Size</option>
                    <option>Green</option>
                    <option>Red</option>
                  </select>
                </label>
            </div>
            <div class="row add-item-input">
                <div class="col add-item-checkbox">
                    <span class="item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        <span>Boots included, size</span>
                    </span>
                </div>
                <div class="col">
                    <input type="text" />
                </div>
            </div>
            <div class="product-fuch">
                <div class="padding"><textarea placeholder="Product Description"></textarea> 
                </div>
                <div class="padding"><textarea class="mintextarea" placeholder="Product Defects"/></textarea></div>
            <div>
            <div class="row rate-per">
                <div class="col"><h3 class="ttl big-size"><i class="ti icon-calendar"></i> Rate per Day</h3><div><input type="number" class="input-snip" placeholder="$ 0"/></div></div>
                <div class="col"><h3 class="ttl big-size"><i class="ti icon-calendar"></i> Rate per Week</h3><div><input type="number" class="input-snip" placeholder="$ 0"/></div></div>
            </div>
            <div class="row auth-wrap">
                <div class="col col-65 "><span class="big-size auth">Authorized Amount</span></div>
                <div class="col text-right"><input type="number" class="input-snip" placeholder="$ 0"/></div>
            </div>
            <div class="row swap-wrap">
                <div class="col"><span class="big-size auth">Swappable</span></div>
                <div class="col text-right">
                    <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                    </label>
                </div>
            </div>
            <div class="padding"><button class="button button-block green-button add-button">SUBMIT</button></div>
        </div>
    </ion-content>
</ion-view>