<ion-view title='<img src="/images/logo-green.png"  />' >
    <ion-content class="has-header product-detail-wrap">
        <div ng-controller="sliderMain" class="product-detail">
            <ion-slide-box show-pager="false" does-continue='true' on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="card in cardsSlide">
                    <button class="prev manag-btn" ng-click="previousSlide($index)"></button>
                    <button class="next manag-btn" ng-click="nextSlide($index)"></button>
                    <img src="{{card.slideThumbnail}}" />
                </ion-slide>
            </ion-slide-box>
            <div class="profile">
                <span class="profile-ava"><img src="/images/ava1.jpg"/></span>
                <span class="profile-name">
                    <span class="name">Homer S</span><br>
                    <div class="stars">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star-outline"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                </span>
            </div>
            <div class="product-info">
                <div class="row">
                    <div class="col">
                        <a class="button button-small button-balanced">
                            {{card.price}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="product-title col">
                        <div class="break"><span>{{card.name}}</span>|<span>Size {{card.size}}</span></div>
                    </div>
                </div>
                <div class="row small-size product-sub-info">
                    <div class="col"><i class="ion-heart"></i>&nbsp;{{card.like}} likes</div>
                    <div class="col"><i class="ion-eye"></i>&nbsp;{{card.view}} views</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="button button-small button-size">+ + Boots Size :<br><strong>{{card.bootSize}}</strong></div>
                </div>
            </div>
        </div>
        <div class="buttons-full-box">
            <div class="button-light-block padding">
                <a class="button button-balanced button-small" href="#/app/renting"><i class="ti icon-rent"></i> RENT</a>
                <a class="button button-energized button-small" href="#"><i class="ion-ios-loop-strong"></i> SWAP</a>
            </div>
            <div class="send-block padding">
                <i class="ion-ios-email-outline"></i><br>
                <a href="#" class="small-size">Send Message</a>
            </div>
        </div>
        <div class="product-detail-desc padding">
            <h2 class="">{{card.name}}|Size {{card.size}}</h2>

            <div class="scroll-desc">
                    <p>{{card.description}}
                    </p>

                    <h2 class="">Defects :</h2>
                    <p>{{card.defect}}
                    </p>
            </div>
        </div>
    </ion-content>
</ion-view>
<script>
  function sliderMain($scope, $ionicSlideBoxDelegate) {
  $scope.nextSlide = function() {
    $ionicSlideBoxDelegate.next();
  }
  $scope.previousSlide = function() {
    $ionicSlideBoxDelegate.previous();
  }
}
</script>