<ion-view title="" hide-nav-bar="true">
    <ion-content>
        <div class="login">
            <div class="list login-block">
                <div class="row">
                    <div class="col logo-main center">
                        <img src="/images/logo-green.png" alt=""/>
                    </div>
                </div>

                    <div class="padding-big login-fb center">
                        <div class="button-block"><a href="#"><img src="/images/button-fb.png" alt=""/></a></div>
                    </div>

                <div class="list list-inset login-form">
                    <label class="item item-input">
                        <input type="email" id="email" ng-model="loginInfo.email" placeholder="Username">
                    </label>
                    <label class="item item-input">
                        <input type="password" id="password" ng-model="loginInfo.password" placeholder="Password">
                    </label>
                </div>
                <div class="row remember-forgot-box">
                    <div class="col">
                        <span class="item-checkbox">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            <span class="text-shadow-grey white-color small-size">Remember me</span>
                        </span>
                    </div>
                    <div class="col">
                        <a href="#" class="text-shadow-grey small-size">Forgot Password?</a>
                    </div>
                </div>
                <div class="padding-big">
                      <button class="button button-block button-shadow non-border button-energized" ng-click="login()">LOG IN</button>
                </div>
                    <div class="padding-big text-center">
                        <span class="text-shadow-grey white-color">or</span>&nbsp;&nbsp;<a class="text-shadow-grey big-size button-signup" href="#/app/sign_up">Sign Up</a>
                    </div>
            </div>
        </div>
    </ion-content>
</ion-view>
