<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar bar-header bar-light header-shadow">
            <ion-nav-back-button class="button-clear back-button"><img src="/icons/back.png" alt=""></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon" data-ng-hide="$root.hideMenuIcon"><img src="/icons/menu.png" alt=""></button>
            </ion-nav-buttons>
            <div class="buttons right-buttons-box" data-ng-show="isSearching">
                <a class="button button-icon icon icon-search icon-search-green search-box green" data-ng-click="toogleSearching()"></a>
            </div>
            <div class="buttons right-buttons-box" data-ng-hide="isSearching">
                <a class="button button-icon icon icon-search icon-search-black search-box green" data-ng-click="toogleSearching()"></a>
            </div>
        </ion-nav-bar>
        <div>
            <ion-nav-view name="menuContent" animation="slide-left-right">
            </ion-nav-view>
        </div>
        <div data-ng-show="isSearching" class="search-wrap" ng-class="{expanded: open, collapsed: !open}">
            <ion-nav-view animation="slide-right-left">
                <ion-view title="">
                    <ion-content class="has-header search">
                        <div class="search-form">
                            <div class="search-filter">
                                <div style="text-align: center;">
                                    <span class="input-iphone"><input id="search" type="search" data-ng-model="freeTextSearch" placeholder="eg. Ski Board" /></span>
                                </div>
                                <div class="advanced">
                                    <span data-ng-click="isAdvancedFilter=!isAdvancedFilter">
                                        <span data-ng-hide="isAdvancedFilter">Advanced Filter</span> <span class="green" data-ng-show="isAdvancedFilter">Advanced Filter</span> <i class="icon ion-arrow-up-b green" data-ng-show="isAdvancedFilter"></i> <i class="icon ion-arrow-down-b" data-ng-hide="isAdvancedFilter"></i>
                                    </span>
                                </div>
                                <div data-ng-show="isAdvancedFilter">
                                    <ion-list class="advanced-filter-list">
                                        <ion-item>
                                            <img src="/icons/skis.png" alt=""> Skis
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/board.png" alt=""> Boards
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/swappable.png" alt=""> Swappable items
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/proximity.png" alt=""> Proximity
                                            <span class="small-grey">(in miles)</span>
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/minimum-year.png" alt=""> Minimum Year
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/boot-size.png" alt=""> Boot Size
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/board-ski-size.png" alt=""> Boards/Ski Size
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                    </ion-list>
                                </div>
                                <a class="button button-block green-button">SEARCH</a>
                            </div>  
                        </div>
                    </ion-content>
                </ion-view>

            </ion-nav-view>
        </div>
    </ion-pane>

    <ion-side-menu side="left" width="185">
        <ion-content>
            <ion-list class="main-menu">
                <ion-item menu-close href="#/app/my_profile">
                    <div class="profile">
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                        <span class="profile-name">
                            <span class="name">Homer S</span>
                            <div class='stars'>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star-outline"></i>
                            </div>
                        </span>
                    </div>
                </ion-item>
				<ion-item menu-close href="#/app/login">
                    <div class="profile">
                        <span class="profile-ava"><img src="/images/default_avatar.png" /></span>
                        <span class="profile-name">
                            <span class="name">Guest</span>
              
                        </span>
                    </div>
                </ion-item>
                <ion-item menu-close href="#/app/home">
                    <img src="/icons/board.png" alt=""> Find Gear
                </ion-item>
                <ion-item menu-close href="#/app/history">
                    <img src="/icons/history.png" alt=""> History
                </ion-item>
                <ion-item menu-close href="#/app/favorites">
                    <i class="ion-heart"></i> Favorites
                </ion-item>
                <ion-item menu-close href="#/app/threads">
                    <img src="/icons/message.png" alt=""> Message
                    <span class="count-info">3</span>
                </ion-item>
                <ion-item menu-close href="#/app/my_profile">
                    <img src="/icons/profile.png" alt=""> My Profile
                </ion-item>
                <ion-item menu-close href="#/app/profile_edit">
                    <img src="/icons/profile.png" alt=""> Profile
                </ion-item>
                <ion-item  menu-close href="#/app/offer_list">
                    <img src="/icons/offer.png" alt=""> Offers
                    <span class="count-info">3</span>
                </ion-item>
                <ion-item  menu-close href="#/app/payment_history_list">
                    <img src="/icons/payment.png" alt=""> Payments
                </ion-item>
                <ion-item  menu-close href="#/app/login">
                    <img src="/icons/login.png" alt=""> Login
                </ion-item>
                <ion-item  menu-close ng-click="logOut()">
                    <img src="/icons/logout.png" alt=""> Log Out
                </ion-item>
                <ion-item  menu-close href="#/app/setting">
                    <img src="/icons/logout.png" alt=""> Setting (test)
                </ion-item>
                <ion-item  menu-close href="#/app/swap_offer_new">
                    <img src="/icons/logout.png" alt=""> Swap Offer New (test)
                </ion-item>
                <ion-item  menu-close href="#/app/swap_offer_sent">
                    <img src="/icons/logout.png" alt=""> Swap Offer Sent (test)
                </ion-item>
                <ion-item  menu-close href="#/app/swapping">
                    <img src="/icons/logout.png" alt=""> Swapping (test)
                </ion-item>
                <ion-item  menu-close href="#/app/counter_received">
                    <img src="/icons/logout.png" alt=""> Counter Received (test)
                </ion-item>
                <ion-item  menu-close href="#/app/add_item">
                    <img src="/icons/logout.png" alt=""> Add Item (test)
                </ion-item>
                <ion-item  menu-close href="#/app/about">
                    <img src="/icons/about.png" alt=""> About (test)
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<!--<script>
    $( ".input-snip" ).TouchSpin({
        verticalbuttons: true
    });
</script>-->
