<ion-view title="Messages">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <span class="input-iphone"><input type="search" ng-model="search" placeholder="Search"/></span>
        </div>
        <ion-list class="message-list">
            <ion-item href="#/app/message">
                    <div class="mes-list-img">
                    <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                    </div>
                    <div class="mes-list-desc">
                        <time class="time small-size">7:32</time>
                        <h2 class="big-size ttl">Ben</h2>
                        <p class="small-size ellipsis">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p>
                    </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<script>
$(document).ready(function() {
	$(".ellipsis").dotdotdot({
		ellipsis	: '... '
	});
});
</script>