<ion-view title="User Profile" >
    <ion-content class="has-header profile-edit my-profile">
        <div class="profile-img">
            <div class="profile-info-edit">
                <img src="{{myInfo.profileImage}}" />
                <div class="profile-info-edit-name">
                    <div class="name">{{myInfo.fullName}}</div>
                    <div class="state"><i class="ion-ios-location"></i> {{myInfo.state}}, {{myInfo.country}}</div>
                    <div>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star-outline"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                </div>				
		<div class="settings-box row text-center">
                        <div class="col"><a href="#app/add_item"><img src="/images/icon-add.png"/><span>Add product</span></a></div>
                        <div class="col"><a href="#/app/home"><img src="/images/icon-list-green.png"/><span>Product List</span></a></div>
		  	<div class="col"><img src="/images/icon-reward.png"/><span>Review</span></div>
                        <div class="col"><a href="#/app/setting"><img src="/images/icon-setting.png"/><span>Account Setting</span></a></div>
		 </div>
            </div>
		<ion-list class="product-list">
            <ion-item ng-repeat="card in cards" href="#/app/card_details/{{card.cardId}}">
                <img class="profile-banner" src="{{card.boardImage}}" />

                <div class="profile-ava"><img src="/images/ava1.jpg" /></div>
                <div class="product-info">
                    <div class="row">
                        <div class="col">
                            <a class="button button-small button-balanced">
                                {{card.price}}
                            </a>
                        </div>
                        <div class="row">
                            <div class="product-title col">
                            <div class="break"><span>{{card.name}}</span>|<span>Size {{card.size}}</span></div>
                        </div>
                        </div>
                        <div class="small-size product-sub-info">
						     <span class="col-item"><i class="ion-heart"></i>&nbsp;{{card.like}} Likes</span>
						     <span class="col-item"><img src="/images/icon-eye.png" alt="">&nbsp;{{card.view}} views</span>
						</div>
                    </div>
                    <div class="row small-size product-sub-info">
                        <div class="col"><i class="ion-heart"></i>&nbsp;{{card.like}} likes</div>
                        <div class="col"><i class="ion-eye"></i>&nbsp;{{card.view}} views</div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="button button-small button-size">+ + Boots Size :<br><strong>{{card.bootSize}}</strong></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>