<ion-view title="Offers">
    <ion-content class="has-header offer-wrap">
	<ion-tabs class="tabs-positive tabs-icon-only">
	  <ion-tab title="Received">
	    <ion-list class="offer-list">
            <ion-item>
                    <div class="mes-list-img">
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                    </div>
                    <div class="mes-list-desc">
                        <h2 class="big-size ttl">Swap request to John M. </h2>
                        <div class="city">New York</div>
                        <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                    </div>
                <i class="ion-ios-loop-strong circle-orange"></i>
            </ion-item>
            <ion-item>
                <div class="mes-list-img">
                    <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                </div>
                <div class="mes-list-desc">
                    <h2 class="big-size ttl">Swap request to John M.</h2>
                    <div class="city">New York</div>
                    <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                </div>
                <i class="ti icon-rent circle-green"></i>
            </ion-item>
        </ion-list>
        <!--<button ng-click="showPopupOffer()" class="button button-small button-light">Test</button> For test Pop Up-->
	  </ion-tab>

	  <ion-tab title="Sent">
	    <ion-list class="offer-list">
            <ion-item>
                    <div class="mes-list-img">
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                    </div>
                    <div class="mes-list-desc">
                        <h2 class="big-size ttl">Swap request to John M. </h2>
                        <div class="city">New York</div>
                        <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                    </div>
                <i class="ion-ios-loop-strong circle-orange"></i>
            </ion-item>
        </ion-list>
	  </ion-tab>

	  <ion-tab title="Accepted">
	    <ion-list class="offer-list">
            <ion-item>
                    <div class="mes-list-img">
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                    </div>
                    <div class="mes-list-desc">
                        <h2 class="big-size ttl">Swap request to John M. </h2>
                        <div class="city">New York</div>
                        <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                    </div>
                <i class="ion-ios-loop-strong circle-orange"></i>
            </ion-item>
            <ion-item>
                <div class="mes-list-img">
                    <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                </div>
                <div class="mes-list-desc">
                    <h2 class="big-size ttl">Swap request to John M.</h2>
                    <div class="city">New York</div>
                    <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                </div>
                <i class="ti icon-rent circle-green"></i>
            </ion-item>
			<ion-item>
                <div class="mes-list-img">
                    <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                </div>
                <div class="mes-list-desc">
                    <h2 class="big-size ttl">Swap request to John M.</h2>
                    <div class="city">New York</div>
                    <div class="offer-name">2012 K2 Apache Skis Size 11</div>
                </div>
                <i class="ti icon-rent circle-green"></i>
            </ion-item>
        </ion-list>
	  </ion-tab>

	</ion-tabs>
        <!--<div class="padding-big">
            <div class="offer-list-info row">
                <div class="col text-center">Received <span class="count-info">3</span></div>
                <div class="col text-center green">Sent</div>
                <div class="col text-center">Accepted</div>
            </div>
        </div>-->
    </ion-content>
</ion-view>