<ion-view title="Rent" class="rent">
    <ion-content class="has-header" ng-controller="DatepickerDemoCtrl">
        <div class="product-rent padding">
            <div class="product-rent-img">
                <img src="/images/ava1.jpg" />
            </div>
            <div class="product-rent-desc">
                <h3 class="ttl big-size">2014 Burton Rocker Board Size 11</h3>
                <p class="small-size">Awesome ride, fun to take on any condition. Good for all terrain, parks, out of bounds, etc. Great condition, no scratches.</p>
            </div>
        </div>
        <div class="date-rent row padding">
            <div class="col text-center change-day">
                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> Start Day</h3>
                <!--http://angular-ui.github.io/bootstrap/#/datepicker-->
                <div class="start-date current-date">{{dt1 | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="dt1" is-open="opened1" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <button type="button" class="button button-small button-stable" ng-click="open1($event,'opened1')">CHANGE DATE</button>
            </div>
            <div class="col text-center select-day">

                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> End Day</h3>
                <div class="start-date current-date">{{dt2 | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="dt2" is-open="opened2" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <button type="button" class="button button-small button-stable" ng-click="open2($event,'opened2')">SELECT DATE</button>
            </div>
        </div>
        <div class="mes-current-date padding">
            <h3 class="ttl big-size">You Will Rent for 3 days: <span>({{dt1 | date:'d MMMM' }} &mdash; {{dt2 | date:'d MMMM' }})</span></h3>
        </div>
        <div class="sum-box">
            <div class="row sum-info">
                <div class="col col-67"><b>Rental Cost</b></div>
                <div class="col colon sum-count">$100.000 USD</div>
            </div>
            <div class="row sum-info">
                <div class="col col-67"><b>Tahoe’s fee</b></div>
                <div class="col colon sum-count">$5.000 USD</div>
            </div>
            <div class="row sum-total">
                <div class="col col-67 big-size"><b>Total Rental Cost</b></div>
                <div class="col colon sum-count"><b>$100 USD</b></div>
            </div>
            <div class="row auth-amount">
                <div class="col col-67 big-size">Authorized Amount : <b>$ 400 USD</b></div>
                <div class="col text-right"><button class="button button-clear non-space" ng-click="showPopup()">
                    <i class="ion-help-circled big-size"></i>
                </button></div>
            </div>
        </div>
        <div class="add-note">
            <h3 class="ttl small-size"><i class="ion-chatbox"></i> Add a Note:</h3>
            <textarea placeholder="eg. I like this one!"></textarea>
        </div>
        <div class="rental-box padding">
            <h3 class="ttl big-size">Rental Lorem Ipsum</h3>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
        </div>
        <div class="row agree-form">
            <div class="col col-25"><input type="text"/></div>
            <div class="col col-75 text-right"><label class="checkbox"><input class="agree" ng-model="checked" type="checkbox" /> <span class="label-chekbox">I agree to Lorem Ipsum</span></label></div>
        </div>
            <div class="padding button-send">
                <button ng-model="button" ng-disabled="!checked" class="button button-full button-balanced" ng-click="showConfirm()">SEND</button>
            </div>
    </ion-content>
</ion-view>