<ion-view title="" hide-nav-bar="true">
    <ion-content>
        <div class="register">
            <div class="list register-block">
                <div class="col logo-main center">
                    <img src="/images/logo-white.png" alt="">
                </div>
                <div class="add-img">
                    <div><i class="ion-plus"></i>Profile picture</div>
                    <input type="file" name="file" id="file" size="1" style="margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;">
                </div>
                <div class="padding">
                    <input type="text" placeholder="Full Name" ng-model="model.fullName"/>
                </div>
                <div class="padding">
                    <input type="text" placeholder="Email" ng-model="model.fullName" />
                </div>
                <div class="padding">
                    <input type="text" placeholder="Full Name" ng-model="model.fullName" />
                </div>
                <div class="row">
                    <div class="col"><input type="text" placeholder="Address 1" ng-model="model.address"/></div>
                    <div class="col"><input type="text" placeholder="Address 2" ng-model="model.address"/></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" placeholder="City" ng-model="model.city"/></div>
                    <div class="col">
                        <select>
                          <option selected>State</option>
                          <option>Arizona</option>
                          <option>California</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" placeholder="Zip" ng-model="model.zip"/></div>
                    <div class="col"><input type="text" placeholder="Country" ng-model="model.country"/></div>
                </div>
                <div class="padding">
                    <input type="text" placeholder="Phone" ng-model="model.phone"/>
                </div>
                <div class="padding">
                    <input type="text" placeholder="Driver Lisence #" ng-model="model.driverLisence"/>
                </div>
                <div class="padding">
                    <div class="pay-box">
                        <img src="/images/bg-pay.png" alt="">
                    </div>

                </div>
                <div class="row remember-forgot-box">
                    <div class="col">
                    <span class="item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        <span class="white-color small-size">By Registering lorem ipsum dolor sit amet, you lorem.</span>
                    </span>
                    </div>
                </div>
                <div class="padding small-size"><a href="#">Terms Of Services</a></div>
                <div class="padding">
                    <button class="button button-block button-energized button-shadow" ng-click="signUp()">NEXT</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
