<ion-view title="Messages">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <input type="search" ng-model="search" placeholder="Search"/>
        </div>
        <div class="padding">
        <ion-list class="message-list">
            <ion-item ng-repeat="thread in threads | filter:search">
                <a href="#/app/message">
                    <div class="mes-list-img">
                        <span class="profile-ava"><img src="/images/ava1.jpg"/></span>
                    </div>
                    <div class="mes-list-desc">
                        <time class="time small-size">{{ thread.lastMessageDate | amTimeAgo }}</time>
                        <h2 class="big-size ttl">{{ thread.title }}</h2>

                        <p class="small-size">{{ displayNames(thread.participants) }}</p>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        </div>
    </ion-content>
</ion-view>