<ion-view title="About">
    <ion-content class="has-header">
		<div class="about_page_wrapper">
	        <div class="about padding">
	        	<h4>Tahoe</h4>
	        	<p>Tahoe app provides a simple and direct way to rent your water sports gear from other users near the beach.  The company was founded in 2014 in San Mateo, CA.</p>

				<p>More info: <a href="#" onClick="window.open('http://www.tahoe-app.com', '_system', 'location=yes'); return false;">www.tahoe-app.com</a></p>

				<p class="about-ver">Tahoe Inventory App - Version 1.1.0</p>
	        </div>
		</div>
    </ion-content>
</ion-view>
