<ion-view>
	<ion-nav-title>
		<img src="images/logo-green.png">
    </ion-nav-title>
    <ion-content class="has-header">
       	<img class="back-img-signup" ng-src="images/bg-sign-up.jpg" />
        <div class="edit-profile-reset">
            <div class="list register-block">
                <div class="col logo-main center">
                    <img src="images/logo-white.png" alt="">
                </div>
                <div class="add-img" ng-click="getAvatarPhoto()">
	                <img class="add-img-p" ng-hide="hideAvatar" ng-src="{{avatarImage}}"/>
                    <div><i class="ion-plus"></i>Profile picture</div>
				</div>
                <div class="padding">
                    <input type="text" id="first-name-field" placeholder="First Name" ng-model="model.firstName"/>
                </div>
                <div class="padding">
                    <input type="text" id="last-name-field" placeholder="Last Name" ng-model="model.lastName" />
                </div>
                <div class="padding">
                    <input type="password" id="password-field" placeholder="Password" ng-model="model.password" />
                	<p class="error-text" ng-hide="passwordError">Password must be 6 - 20 characters, with at least 1 letter and 1 number</p>
                </div>
                <div class="padding">
                    <input type="password" id="confirm-password-field" placeholder="Retype Password" ng-model="confirmation.password" />
                	<p class="error-text" ng-hide="confirmPasswordError">Passwords don't match</p>
                </div>
                <div class="padding">
                	<input type="text" id="location-field" g-places-autocomplete options="autocompleteOptions" placeholder="City and country" ng-model="address">
                </div>
                <div class="padding">
                	<br/>
                    <button class="button button-block button-energized button-shadow" ng-click="update()" ng-hide="hideButton">Update</button>
                    <p class="progress-spinner">
						<ion-spinner ng-hide="hideSpinner"></ion-spinner>
					</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
