<ion-view title="" hide-nav-bar="true">
    <ion-content>
       	<img class="back-img-signup" ng-src="images/bg-login.jpg" />
        <div class="login">
            <div class="list login-block">
                <div class="row">
                    <div class="col logo-main center">
                        <img src="images/logo-white.png" alt=""/>
                    </div>
                </div>

                <div class="list list-inset login-form">
                    <label class="item item-input" id="email-field">
                        <input type="email" id="email" ng-model="loginInfo.email" placeholder="Login Email">
                    </label>
	                <p class="error-text" ng-hide="resetPasswordError">Please enter your login email</p>
                    <label class="item item-input" id="password-field">
                        <input type="password" id="password" ng-model="loginInfo.password" placeholder="Password">
                    </label>
                	<p class="error-text" ng-hide="passwordError">Please enter a valid Email & Password</p>
                </div>
                <div class="row remember-forgot-box">
                    <div class="col">
                        <!--Removed the check box from here, but left the column in so the remember password link is on 
                            the right side-->
                    </div>
                    <div class="col">
                        <a href="#" class="login-link text-shadow-grey" ng-click="resetPassword()"><b>Forgot Password?</b></a>
                    </div>
                </div>
                <div class="padding-big">
                      <button class="button button-block button-shadow non-border button-energized" ng-click="login()">LOG IN</button>
                </div>
                    <div class="padding-big text-center login-signup-link">
                        <span class="text-shadow-grey white-color">or</span>&nbsp;&nbsp;<a class="text-shadow-grey big-size button-signup" href="#/app/sign_up">Sign Up</a>
                    </div>
            </div>
        </div>
    </ion-content>
</ion-view>
