<ion-view title="" class="">
<ion-content class="has-header rent-offer-sent">

        <div class="padding">
            <div class="rent-offer-head">
                <i class="ti icon-rent"></i>
                <div class="rent-box">
                    <h2 class="ttl">Rent Offer</h2>
                    <p class="desc">or $12 per day for 3 Days </p>
                </div>
                <div class="amount">January 4 2014 - January 6 2014</div>
            </div>
			<div class="product-detail rent-float">
			<div class="profile">
                <span class="profile-ava"><img src="/images/ava1.jpg"/></span>
                <span class="profile-name">
                    <span class="name">Homer S</span><br>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star-outline"></i>
                    <i class="ion-android-star-outline"></i>
                </span>
            </div>
		</div>
        </div>
        <div class="total-rent row">
            <div class="col col-75"><div>Total Rental Cost</div>

            </div>
			<div class="col col-25"><span class="colon">$350</span></div>
        </div>

        <div class="date-rent-box padding">
            Authorized Amount : $ 320 USD
        </div>

        <div class="product-detail">
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <button class="next manag-btn" ng-click="nextSlide()"></button>
                    <img src="/images/product1_1.jpg"/>
                </ion-slide>
                <ion-slide>
                    <button class="prev manag-btn" ng-click="previousSlide()"></button>
                    <button class="next manag-btn" ng-click="nextSlide()"></button>
                    <img src="/images/product1_1.jpg"/>
                </ion-slide>
                <ion-slide>
                    <button class="prev manag-btn" ng-click="previousSlide()"></button>
                    <img src="/images/product1_1.jpg"/>
                </ion-slide>
            </ion-slide-box>
                <h2 class="ttl-top">2012 K2 Apache Skis | Size 11</h2>
        </div>
        <div class="add-note padding">
            <h3 class="ttl big-size"><i class="ion-chatbox"></i> Note:</h3>
            <textarea placeholder="Looking forward to pick it up..."></textarea>
        </div>
        <div class="padding"><button class="button button-block button-balanced-grey">Offer Sent, waiting for User Respone</button></div>

</ion-content>
</ion-view>
