<ion-view title="" hide-nav-bar="true">
    <ion-content>
        <div class="register">
            <div class="list register-block">
                <div class="col logo-main center">
                    <img src="/images/logo-white.png" alt="">
                </div>
                <div class="add-img">
                    <div><i class="ion-plus"></i><br>Profile picture</div>
                    <input type="file" name="file" id="file" size="1" style="margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;">
                </div>
                <div class="padding">
                    <input type="text" placeholder="First Name" ng-model="model.ffullName"/>
                </div>
                <div class="padding">
                   <input type="text" placeholder="Last name" ng-model=""/>
                </div>
                <div class="padding">
                    <div><input type="text" placeholder="Email address" ng-model=""/></div>
                </div>
                <div class="padding">
                    <div><input type="text" placeholder="Username" ng-model=""/></div>
                </div>
                <div class="padding">
                    <input type="text" placeholder="Password" ng-model="model.ffullName"/>
                </div>
                <div class="padding">
                    <input type="text" placeholder="Re-type Password" ng-model="model.ffullName"/>
                </div>
                <div class="padding">
                    <select>
                      <option selected>Location</option>
                      <option>Location 1</option>
                      <option>Location 2</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <select>
                          <option selected>Date</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                    </div>
                    <div class="col">
                        <select>
                          <option selected>Month</option>
                          <option>12</option>
                          <option>01</option>
                        </select>
                    </div>
                    <div class="col">
                        <select>
                          <option selected>Year</option>
                          <option>2015</option>
                          <option>2015</option>
                        </select>
                    </div>
                </div>

                <div class="padding">
                    <button class="button button-block button-energized button-shadow" ng-click="signUp()">SAVE SETTINGS</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
