<!--><ion-view title="">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <input type="search" ng-model="search" placeholder="Search"/>
        </div>
        <div class="padding">
        <ion-list class="message-list">
            <ion-item ng-repeat="thread in threads | filter:search">
                <a ng-href="#/app/threads/{{thread.id}}">
                    <div class="mes-list-img">
                        <span class="profile-ava"><img ng-src="{{ buildLastMsgAvatarUrl(thread) }}"/></span>
                    </div>
                    <div class="mes-list-desc">
                        <time class="time small-size">{{ displayLastMsgDate(thread) | amTimeAgo }}</time>
                        <h2 class="big-size ttl">{{ thread.title }}</h2>

                        <p class="small-size">{{ displayNames(thread) }}</p>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        </div>
    </ion-content>
</ion-view>-->
<ion-view title="Messages">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <span class="input-iphone"><input type="search" ng-model="search" placeholder="Search"/></span>
        </div>
        <ion-list class="message-list">
            <ion-item href="#/app/message">
                    <div class="mes-list-img">
                    <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                    </div>
                    <div class="mes-list-desc">
                        <time class="time small-size">7:32</time>
                        <h2 class="big-size ttl">Ben</h2>
                        <p class="small-size ellipsis">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p>
                    </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<script>
$(document).ready(function() {
	$(".ellipsis").dotdotdot({
		ellipsis	: '... '
	});
});
</script>