<ion-view title="" hide-nav-bar="true" >
    <ion-content>
        <div>
            <ion-slide-box show-pager="false" does-continue="false">
                <ion-slide>
                    <img src="images/Tour1.png" style="height: {{frameheight}}px; width: {{framewidth}}px;" usemap="#tour-page1-map"/>
                    <map name="tour-page1-map">
  						<area shape="rect" coords="0,{{bottomButtonTop}},{{framewidth}},{{frameheight}}" ng-click="endTour()">
					</map>
                </ion-slide>
                <ion-slide>
                    <img src="images/Tour2.png" style="height: {{frameheight}}px; width: {{framewidth}}px;"/>
                </ion-slide>
                <ion-slide>
                    <img src="images/Tour3.png" style="height: {{frameheight}}px; width: {{framewidth}}px;"/>
                </ion-slide>
                <ion-slide>
                    <img src="images/Tour4.png" style="height: {{frameheight}}px; width: {{framewidth}}px;" usemap="#tour-page4-map"/>
                    <map name="tour-page4-map">
  						<area shape="rect" coords="0,{{bottomButtonTop}},{{framewidth}},{{frameheight}}" ng-click="endTour()">
					</map>
                </ion-slide>
                <ion-slide>
                    <img src="images/Tour5.jpg" style="height: {{frameheight}}px; width: {{framewidth}}px;" usemap="#tour-page5-map"/>
                    <map name="tour-page5-map">
  						<area shape="rect" coords="{{middleButtonLeft}},{{middleButtonTop}},{{middleButtonRight}},{{middleButtonBottom}}" ng-click="endTour()">
					</map>
                </ion-slide>
            </ion-slide-box>
            
    </ion-content>
</ion-view>