 <ion-view title='<img src="images/logo-green.png"  />' >
    <ion-content class="has-header product-detail-wrap">
        <div class="product-detail">
            <ion-slide-box show-pager="false" does-continue='true' on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="card in cardsSlide">
                    <button class="prev manag-btn" ng-click="previousSlide($index)"></button>
                    <button class="next manag-btn" ng-click="nextSlide($index)"></button>
                    <img src="{{card.slideThumbnail}}" class="card_bg" />
                    <img src="{{card.slideThumbnail}}" class="card_img" />
                </ion-slide>
            </ion-slide-box>
            <div class="profile">
                <span class="profile-ava"><img ng-src="{{buildOwnerPictureUrl()}}"/></span>
                <span class="profile-name">
                    <span class="name">{{ownerName}}</span><br>
                    <div class="stars">
                        <i class="ion-android-star-outline" ng-hide="rankingStar1"></i>
                        <i class="ion-android-star" ng-show="rankingStar1"></i>
                        <i class="ion-android-star-outline" ng-hide="rankingStar2"></i>
                        <i class="ion-android-star" ng-show="rankingStar2"></i>
                        <i class="ion-android-star-outline" ng-hide="rankingStar3"></i>
                        <i class="ion-android-star" ng-show="rankingStar3"></i>
                        <i class="ion-android-star-outline" ng-hide="rankingStar4"></i>
                        <i class="ion-android-star" ng-show="rankingStar4"></i>
                        <i class="ion-android-star-outline" ng-hide="rankingStar5"></i>
                        <i class="ion-android-star" ng-show="rankingStar5"></i>
                    </div>
                </span>
            </div>
            <div class="product-info">
                <div class="row">
                    <div class="col">
                        <a class="button button-small button-balanced">
                            {{card.priceDisplay}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="product-title col">
                        <div class="break"><span>{{card.yearDisplay}} {{card.makeAndModel}} {{card.typeDisplay}}</span>&nbsp;<b style="font-size: 150%;">|</b><span>{{card.sizeDisplay}}</span></div>
                    </div>
                </div>
                <div class="row small-size product-sub-info">
                    <div class="col"><i class="ion-heart"></i>&nbsp;&nbsp;{{card.likeCount}} likes</div>
                    <div class="col"><i class="ion-eye"></i>&nbsp;&nbsp;{{card.viewCount}} views</div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="buttons-full-box">
            <div class="button-light-block padding">
                <a class="button button-balanced button-small" ng-click="rentClicked()"><i class="ti icon-rent"></i> RENT</a>
                <a class="button button-energized button-small" href="#"><i class="ion-ios-loop-strong"></i> SWAP</a>
            </div>
            <div class="send-block padding">
                <i class="ion-ios-email-outline"></i><br>
                <a href="#" class="small-size">Send Message</a>
            </div>
        </div>
        <div class="product-detail-desc">
            <h2>{{card.yearDisplay}} {{card.makeAndModel}} {{card.typeDisplay}} | {{card.sizeDisplay}}</h2>
            <div class="scroll-desc">
                <p>{{card.description}}</p>
            </div>
			<h2>Defects :</h2>
			<div class="scroll-desc">
				<p>{{card.defects}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>