<ion-view>
	<ion-nav-title>
		<img src="images/logo-green.png">
    </ion-nav-title>
    <ion-content class="has-header">
        <ion-list class="product-list">
            <ion-item ng-repeat="card in cards" href="#/app/card_details/{{card.cardId}}">
                <img class="profile-banner" ng-src="{{buildBannerUrl(card)}}"/>
                <div class="profile-ava"><img ng-src="{{buildOwnerPictureUrl(card)}}"/></div>
                <div class="product-info">
                    <div class="row">
                        <div class="col"><a class="button button-small button-balanced">{{card.priceDisplay}}</a></div>
                    </div>
                    <div class="row">
                        <div class="product-title col">
                            <div class="break"><span>{{card.yearDisplay}} {{card.makeAndModel}} {{card.typeDisplay}}</span> <b style="font-size: 150%;">|</b><span>{{card.sizeDisplay}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="small-size product-sub-info">
                        <span class="col-item"><i class="ion-heart"></i>&nbsp;&nbsp;{{card.likeCount}} Likes</span>
                        <span class="col-item">&nbsp;<img src="/images/icon-eye.png" alt="">&nbsp;&nbsp;{{card.viewCount}} views</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="fetchMore()" distance="25%">
        </ion-infinite-scroll>


    </ion-content>

</ion-view>
