<ion-view cache-view="false">
	<ion-nav-title>
		<img src="images/logo-green.png">
    </ion-nav-title>
    <ion-content class="has-header profile-edit my-profile">
        <div class="profile-img">
            <div class="profile-info-edit">
            	<div class="profile-info-edit-img">
            		<img class="ava-img" ng-src="{{buildProfilePictureUrl(myInfo.id)}}" />
            	</div>
                <div class="profile-info-edit-name">
                    <div class="name">{{myInfo.firstName}} {{myInfo.lastName}}</div>
                    <div class="state"><i class="ion-ios-location"></i> {{myInfo.location}}</div>
                </div>				
				<div class="settings-box row text-center">
                    <div class="col" id="add_item"><img src="images/icon-add.png"/><span>List an Item</span></div>
                    <div class="col" id="edit_profile"><img src="images/icon-setting.png"/><span>Account Setting</span></div>
				</div>
            </div>
        </div>
        <div class="profile-seperator"></div>
		<ion-list class="product-list" ng-hide="noCards">
            <ion-item ng-repeat="card in cards" href="#app/edit_item/{{card.cardId}}">
            	<div class="product-item">
					<img class="prof-img" ng-src="{{buildBannerUrl(card)}}" data-ng-init="rotateBanner(card)"/>
					<div class="profile-ava"><img ng-src="{{buildOwnerPictureUrl(card)}}"/></div>
					<div class="product-info">
						<div class="row">
							<div class="col"><a class="button button-small button-balanced">{{card.priceDisplay}}</a></div>
						</div>
						<div class="row">
							<div class="product-title col">
								<div class="break product-no-wrap"><span>{{card.yearDisplay}} {{card.makeAndModel}} {{card.typeDisplay}}</span>&nbsp;<b>|</b>&nbsp;<span class="product-no-wrap">{{card.sizeDisplay}}</span>
								</div>
							</div>
						</div>
						<div class="small-size product-sub-info">
							<span class="col-item"><i class="ion-heart"></i>&nbsp;{{card.likeCount}} Likes</span>
							<span class="col-item"><img src="images/icon-eye.png" alt="">&nbsp;{{card.viewCount}} views</span>
						</div>
					</div>
                </div>
            </ion-item>
        </ion-list>
        <div class="profile-no-products" ng-show="noCards">No Items Added.</div>
	</ion-content>
</ion-view>