<!--><ion-view title="Payment history - details">
    <ion-content class="has-header">
        <div class="payment-history">
            <div class="padding">
                <h2 class="big-size main-ttl">{{payment.paymentDescription}} <a href="#">{{payment.fromDate | amDateFormat: 'd
                    MMMM YYYY'}}</a> <i class="ti icon-rent circle-orange"></i></h2>

                <div class="product-ttl">{{payment.productTitle}}</div>
            </div>
            <div class="product-rent padding">
                <div class="product-rent-img">
                    <img src="/images/ava1.jpg" />
                </div>
                <div class="product-rent-desc">
                    <h3 class="ttl big-size">{{payment.productTitle}}</h3>

                    <p>{{payment.productDescription}}</p>
                </div>
            </div>
            <div class="padding history-date">
                <div class="button-block button button-stable">{{payment.fromDate | amDateFormat: 'd MMMM YYYY'}} -
                    {{payment.toDate | amDateFormat: 'd MMMM YYYY'}}
                </div>
            </div>
			<div class="history-row">
            <div class="row">
                <div class="col"><b>Total transaction</b></div>
                <div class="col"><span class="colon">${{payment.totalTransaction}}</span></div>
            </div>
            <div class="row"Ю
                <div class="col"><b>Payment via</b></div>
                <div class="col"><span class="colon">{{payment.paymentMethod}}</span></div>
            </div>
            <div class="row">
                <div class="col"><b>Transaction ID</b></div>
                <div class="col "><span class="colon">{{payment.transactionId}}</span></div>
            </div>
			</div>
            <div class="padding"><hr/></div>
            <div class="padding">Go to <a href="#">User Profile</a></div>
        </div>
    </ion-content>
</ion-view>-->
<ion-view title="Payment history - details">
    <ion-content class="has-header">
        <div class="payment-history">
            <div class="padding">
                <h2 class="big-size main-ttl">Rent deal - I rented from <a href="#">John</a> <i class="ti icon-rent circle-orange"></i></h2>
                <div class="product-ttl">2012 K2 Apache</div>
            </div>
            <div class="product-rent padding">
                <div class="product-rent-img">
                    <img src="/images/ava1.jpg" />
                </div>
                <div class="product-rent-desc">
                    <h3 class="ttl big-size">2012 K2 Apache Skis Size 11</h3>

                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh</p>
                </div>
            </div>
            <div class="padding history-date">
                <div class="button-block button button-stable">1 October 2014 - 3 October 2014</div>
            </div>
			<div class="history-row">
            <div class="row">
                <div class="col"><b>Total transaction</b></div>
                <div class="col"><span class="colon">$36</span></div>
            </div>
            <div class="row">
                <div class="col"><b>Payment via</b></div>
                <div class="col"><span class="colon">Credit Card</span></div>
            </div>
            <div class="row">
                <div class="col"><b>Transaction ID</b></div>
                <div class="col "><span class="colon">646-736-7525</span></div>
            </div>
			</div>
            <div class="padding"><hr/></div>
            <div class="padding goto">Go to <a href="#">User Profile</a></div>
        </div>
    </ion-content>
</ion-view>