<ion-view title="Payment">
    <ion-content class="has-header">
    	Total rental cost ${{rentalCost | number:2}} USD
    	<div class="padding">
    		<select id="card-type-field" ng-model="cardType" ng-change="itemChanged()">
				<option selected>Mastercard</option>
				<option>Visa</option>
			</select>
		</div>
    	<div class="padding">
			<input type="number" id="card-number-field" placeholder="Credit Card Number" ng-model="cardNumber"/>
		</div>
		<div class="padding">
			<input type="text" id="first-name-field" placeholder="First name on Card" ng-model="firstName" />
		</div>
		<div class="padding">
			<input type="text" id="last-name-field" placeholder="Last name on Card" ng-model="lastName" />
		</div>
		<div class="padding">
			<input type="number" id="expire-month-field" placeholder="Expiration Month" ng-model="expireMonth" />
		</div>
		<div class="padding">
			<input type="number" id="expire-year-field" placeholder="Expiration Year" ng-model="expireYear" />
		</div>
		<div class="padding">
			<input type="number" id="cvv-field" placeholder="CVV" ng-model="cvvCode" />
		</div>
		<div class="padding">
			<input type="text" id="address-line1-field" placeholder="Address" ng-model="addressLine1">
		</div>
		<div class="padding">
			<input type="text" id="address-line2-field" placeholder="Address Line 2 (Optional)" ng-model="addressLine2">
		</div>
		<div class="padding">
			<input type="text" id="city-field" placeholder="City" ng-model="city">
		</div>
		<div class="padding">
			<input type="text" id="state-field" placeholder="State" ng-model="state">
		</div>
		<div class="padding">
			<input type="text" id="postal-code-field" placeholder="Postal code" ng-model="postalCode">
		</div>
		<div class="padding">
			<input type="text" id="country-field" placeholder="Country" ng-model="country">  
		</div>
        <div class="padding">
			<button ng-click="pay()">NEXT</button>
		</div>
    </ion-content>
</ion-view>