<!--<ion-view title="My Profile">
    <ion-content class="has-header">
        <h1>My Profile</h1>

        {{ myInfo.firstName }} <br/>
        {{ myInfo.lastName }} <br/>
        {{ myInfo.email }}

        <ion-list>
            <ion-item ng-repeat="card in cards">
                {{ card.title }}
            </ion-item>
        </ion-list>

        <a class="button button-block button-outline button-energized" href="#/app/add_card">Add card</a>

        <a class="button button-block button-outline button-assertive" ng-click="logOut()">Log out</a>

    </ion-content>
</ion-view>-->
<ion-view title='<img src="/images/logo-green.png"  />' >
    <ion-content class="has-header profile-edit">
        <div class="profile-img">
            <div class="profile-info-edit">
                <img src="/images/img-profile-edit.jpg"/>
                <div class="profile-info-edit-name">
                    <div class="name">Jannie</div>
                    <div class="state"><i class="ion-ios-location"></i> California, USA</div>
                    <div>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star-outline"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                </div>				
		<div class="settings-box row text-center">
			<div class="col"><img src="/images/icon-list-green.png"/><br>Product List</div>
		  	<div class="col"><img src="/images/icon-reward.png"/><br>Review</div>
			<div class="col"><img src="/images/icon-mail.png"/><br>Send Message</div>
		 </div>
            </div>
		<ion-list class="product-list">
                <ion-item href="#/app/card_details/{{card.cardId}}">
                    <img class="profile-banner" src="/images/product1.jpg"/>
                    <div class="product-info">
                        <div class="row">
                            <div class="col"><a class="button button-small button-balanced">$ 12/day |
                                $ 85/week</a></div>
                        </div>
                        <div class="row">
                            <div class="product-title col">
                            <div class="break"><span>2012 K2 Apache Skis</span>|<span>Size 11</span></div>
                        </div>
                        </div>
                        <div class="row small-size product-sub-info">
                            <div class="col"><i class="ion-heart"></i>&nbsp;14 likes</div>
                            <div class="col"><i class="ion-eye"></i>&nbsp;234 views</div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="button button-small button-size">+ Boots Size :<br><strong>11</strong></div>
                        </div>
                    </div>
                </ion-item>
        </ion-list>
	</ion-content>
</ion-view>