<ion-view title="RENT" class="rent">
    <ion-content class="has-header">
        <div class="product-rent padding">
            <div class="product-rent-img">
                <img src="/images/ava1.jpg" />
            </div>
            <div class="product-rent-desc">
                <h3 class="ttl big-size">{{yearDisplay}} {{makeAndModel}} {{typeDisplay}} {{sizeDisplay}}</h3>
                <p class="small-size">{{description}}</p>
            </div>
        </div>
        <div class="date-rent row padding">
            <div class="col text-center select-day">
                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> Start Day</h3>
                <!--http://angular-ui.github.io/bootstrap/#/datepicker-->
                <div class="start-date current-date">{{startDate | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="startDate" 
                	   is-open="datepickers.startDateOpened" min-date="minDate" max-date="maxDate"
                	   datepicker-options="dateOptions" close-text="Close" ng-change="dateChanged()"/>
                <button type="button" class="button button-small button-stable" ng-click="open($event, 'startDateOpened')">Select Date</button>
            </div>
            <div class="col text-center select-day">
                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> End Day</h3>
                <div class="start-date current-date">{{endDate | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" 
                	   is-open="datepickers.endDateOpened" min-date="minDate" max-date="maxDate" 
                	   datepicker-options="dateOptions" close-text="Close" ng-change="dateChanged()"/>
                <button type="button" class="button button-small button-stable" ng-click="open($event,'endDateOpened')">Select Date</button>
            </div>
        </div>
        <div class="mes-current-date padding">
            <h3 class="ttl big-size">You Will Rent for {{rentLength}} days: <span>({{startDate | date:'d MMMM' }} &mdash; {{endDate | date:'d MMMM' }})</span></h3>
        </div>
        <div class="sum-box">
            <div class="row sum-info">
                <div class="col col-67"><b>Rental Cost</b></div>
                <div class="col colon sum-count">${{rentCost | number:2}} USD</div>
            </div>
            <div class="row sum-info">
                <div class="col col-67"><b>Tahoe’s fee</b></div>
                <div class="col colon sum-count">${{tahoeFee | number:2}} USD</div>
            </div>
            <div class="row sum-total">
                <div class="col col-67 big-size"><b>Total Rental Cost</b></div>
                <div class="col colon sum-count"><b>${{totalCost | number:2}} USD</b></div>
            </div>
            <div class="row auth-amount">
                <div class="col col-67 big-size">Authorized Amount : <b>${{authorizedAmount | number:2}} USD</b></div>
                <div class="col text-right"><button class="button button-clear non-space" ng-click="showPopup()">
                    <i class="ion-help-circled big-size"></i>
                </button></div>
            </div>
        </div>
        <div class="add-note">
            <h3 class="ttl small-size"><i class="ion-chatbox"></i> Add a Note:</h3>
            <textarea placeholder="eg. I like this one!" ng-model="note"></textarea>
        </div>
        <div class="rental-box padding">
            <h3 class="ttl big-size">Rental Lorem Ipsum</h3>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
        </div>
        <div class="row agree-form">
            <div class="col col-25"><input type="text"/></div>
            <div class="col col-75 text-right"><label class="checkbox"><input class="agree" ng-model="checked" type="checkbox" /> <span class="label-chekbox">I agree to Lorem Ipsum</span></label></div>
        </div>
            <div class="padding button-send">
                <button ng-model="button" ng-disabled="!(checked && validDateRange)" class="button button-full button-balanced" ng-click="showPayment()">SEND</button>
            </div>
    </ion-content>
</ion-view>