<ion-view title='<img src="/images/logo-green.png"  />' class="search">
        <ion-content class="has-header">
        <ul class="list search-form padding">
            <li class="item">
                <input type="search" id="search" ng-model="loginInfo.email" placeholder="eg. Ski Board">
                <p class="center small-size advanced"><button class="button button-clear button-stable" ng-click="autoScroll = !autoScroll">Advanced Filter <i ng-class="{'ion-arrow-up-b': autoScroll, 'ion-arrow-down-b': !autoScroll}"></i></button></p>
            </li>
            <div ng-class="{'show': autoScroll, 'hide': !autoScroll}">
                <li class="item">
                    <i class="ti icon-ski"></i> Skis
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </li>
                <li class="item">
                    <i class="ti icon-board"></i> Boards
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </li>
                <li class="item">
                    <i class="ion-ios-loop-strong"></i> Swappable items</label>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </li>
                <li class="item">
                    <label class="label-snip">
                        <i class="ti icon-space"></i> Proximity <span>(in miles)</span>
                    </label>
                    <input type="number" class="input-snip" value="0"/>
                </li>
                <li class="item">
                    <label class="label-snip">
                        <i class="ti icon-time"></i> Minimum Year
                    </label>
                    <input type="number" class="input-snip" value="0"/>
                </li>
                <li class="item">
                    <label class="label-snip">
                        <i class="ti icon-boot"></i> Boot Size
                    </label>
                    <input type="number" class="input-snip" value="0"/>
                </li>
                <li class="item">
                    <label class="label-snip">
                        <i class="ti icon-board-ski"></i> Boards/Ski Size
                    </label>
                    <input type="number" class="input-snip" value="0"/>
                </li>
            </div>
            <li class="item">
                <input type="button" class="button button-balanced button-block" value="SEARCH">
            </li>
        </ul>
    </ion-content>
</ion-view>