<ion-view title="" hide-nav-bar="true">
    <ion-content>
        <img class="back-img-signup" ng-src="images/bg-sign-up.jpg" style="height: {{frameheight}}px;"/>
        <div class="register">
            <div class="list register-block">
                <div class="col logo-main center">
                    <img src="images/logo-white.png" alt="">
                </div>
                <div class="add-img" id="profile-picture" ng-click="getAvatarPhoto()">
	                <img class="add-img-p" ng-hide="hideAvatar" ng-src="{{avatarImage}}"/>
                    <div><i class="ion-plus"></i>Profile picture</div>
				</div>
				<p class="error-text-centered" ng-hide="avatarError">Please upload your updated photo</p>
                <div class="padding">
                    <input type="text" id="first-name-field" placeholder="First Name" ng-model="model.firstName"/>
                </div>
                <div class="padding">
                    <input type="text" id="last-name-field" placeholder="Last Name" ng-model="model.lastName" />
                </div>
                <div class="padding">
                    <input type="email" id="email-field" placeholder="Email" ng-model="model.email" />
                </div>
                <div class="padding">
                    <input type="password" id="password-field" placeholder="Password" ng-model="model.password" />
                	<p class="error-text" ng-hide="passwordError">Password must be 6 - 20 characters, with at least 1 letter and 1 number</p>
                </div>
                <div class="padding">
                    <input type="password" id="confirm-password-field" placeholder="Retype Password" ng-model="confirmation.password" />
                	<p class="error-text" ng-hide="confirmPasswordError">Passwords don't match</p>
                </div>
                <div class="padding">
                	<input type="text" id="location-field" g-places-autocomplete options="autocompleteOptions" placeholder="City and country" ng-model="address">
                </div>
                <div class="row remember-forgot-box">
                    <div class="col">
                    <span class="item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" id="tos-field" ng-model="confirmation.agreeTOS">
                        </label>
                        <span class="dark-gray-color small-size signup-checkbox-text">By Registering you agree to our terms of service.</span>
                        <p class="error-text" ng-hide="tosError">You must agree to our terms of service</p>
                    </span>
                    </div>
                </div>
				<div class="padding small-size"><a href="#" class="dark-gray-color" onClick="window.open('http://www.tahoe-app.com/terms', '_blank', 'location=yes'); return false;">Terms Of Services</a></div>
                <div class="padding">
                    <button class="button button-block button-energized button-shadow" ng-click="signUp()" ng-hide="hideButton">NEXT</button>
                    <p class="progress-spinner">
						<ion-spinner ng-hide="hideSpinner"></ion-spinner>
					</p>
                </div>
                <div class="padding-big text-center login-signup-link">
                    <a class="text-shadow-grey big-size button-signup" href="#/app/login">Log In</a>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
