<ion-view title='<img src="/images/logo-green.png" />' class="">
<ion-content class="has-header rent-offer-sent swap-offer-sent swapping" ng-controller="DatepickerDemoCtrl">
        <div class="img-swap">
            <i class="ion-ios-loop-strong"></i>
            <div class="img-theirs"><div class="ttl-swap-img">Theirs</div><img src="/images/img-swap.jpg" alt=""><span><b>2012 K2 Apache Skis | Size 11</b></span></div>
            <div class="img-mine add-img-mine"><div class="ttl-swap-img">Mine</div><span class="add-img-item">+ Add Your Item</span></div>
        </div>
        <div class="date-rent row padding">
            <div class="col text-center change-day">
                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> Start Day</h3>
                <!--http://angular-ui.github.io/bootstrap/#/datepicker-->
                <div class="start-date current-date">{{dt1 | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="dt1" is-open="opened1" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <button type="button" class="button button-small button-stable" ng-click="open1($event,'opened1')">CHANGE DATE</button>
            </div>
            <div class="col text-center select-day">
                <h3 class="ttl big-size"><i class="ti icon-calendar"></i> End Day</h3>
                <div class="start-date current-date">{{dt2 | date:'d MMMM y' }}</div>
                <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="dt2" is-open="opened2" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <button type="button" class="button button-small button-stable" ng-click="open2($event,'opened2')">SELECT DATE</button>
            </div>
        </div>
    <div class="boost-wrap"><span class="eg-box">e.g $ 15</span><span class="boost-box"><i>$</i> BOOST</span></div>
    <div class="total-rent swap-total-rent row">
            <div class="col col-65"><div>Tahoe fee's</div>

        </div>
	<div class="col"><span class="colon">- $3,5 USD</span></div>
        </div>
        <div class="total-rent row">
            <div class="col col-65"><div>Total Swap Cost</div>

        </div>
	<div class="col"><span class="colon">$350 USD</span></div>
        </div>
        
        <div class="add-note">
            <h3 class="ttl small-size"><i class="ion-chatbox"></i> Add a Note:</h3>
            <textarea placeholder="eg. I like this one!"></textarea>
        </div>
    <div class="rental-box padding">
            <h3 class="ttl big-size">Rental Lorem Ipsum</h3>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
        </div>
        <div class="row agree-form">
            <div class="col col-25"><input type="text"/></div>
            <div class="col col-75 text-right"><label class="checkbox"><input class="agree" ng-model="checked" type="checkbox" /> <span class="label-chekbox">I agree to Lorem Ipsum</span></label></div>
        </div>
        <div class="padding button-send"><button class="button button-block button-balanced">SEND</button></div>
</ion-content>
</ion-view>
