<ion-view title='<img src="/images/logo-green.png" />'>
<ion-content class="has-header rent-offer-sent swap-offer-sent">

        <div class="padding">
            <div class="rent-offer-head">
                <i class="ion-ios-loop-strong"></i>
                <div class="rent-box">
                    <h2 class="ttl">Swap Rent</h2>
                    <p class="desc">for $12 per day for 3 Days </p>
                </div>
                <div class="amount">January 4 2014 - January 6 2014</div>
            </div>
            
                <div class="product-detail rent-float">
                <div class="profile">
                <span class="profile-ava"><img src="/images/ava1.jpg"/></span>
                <span class="profile-name">
                    <span class="name">Homer S</span><br>
                    <div class="stars">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star-outline"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                </span>
            </div>
	</div>
            
        </div>
    <div class="button button-energized button-energized-btn">$250.<sup>00</sup> BOOST</div>
    <div class="button-energized-btn-line"></div>

        <div class="img-swap padding">
            <i class="ion-ios-loop-strong"></i>
            <div class="img-theirs"><div class="ttl-swap-img">Theirs</div><img src="/images/product1_1.jpg" alt=""><span><b>2012 K2 Apache Skis | Size 11</b></span></div>
            <div class="img-mine"><div class="ttl-swap-img">Mine</div><img src="/images/product1_1.jpg" alt=""><span><b>2012 K2 Apache Skis | Size 11</b></span></div>
        </div>

        
        <div class="add-note padding">
            <h3 class="ttl big-size"><i class="ion-chatbox"></i> Note:</h3>
            <div class='border-box'>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            </div>
        </div>
    <div class="padding">
        <div class="button button-block button-balanced-grey small-size">Offer Sent, waiting for User Respone</div>
    </div>
</ion-content>
</ion-view>
