<ion-view>
	<ion-nav-title>
		<img src="images/logo-green.png">
    </ion-nav-title>
    <ion-content class="has-header">
        <div class="add-item-wrap">
            <div class="add-photo-wrap">
            	<div class="list remove-link-padding type" ng-hide="hideRemove">
					<a class="remove-link" href="#" ng-click="removeItem()">Remove Item</a>
				</div>
				<div class="padding" ng-show="hideRemove"></div>
            	<div class="list padding type">
					<label class="item item-input">
						<select id="item-field" ng-model="card.item" ng-change="itemChanged()" ng-disabled="isEditing" class="green-border add-select" ng-options="item for item in items">
							<option selected value="">Item</option>
						</select>
					</label>
				</div>
            	<div class="register-type-padding ttl small-size"><span>*</span> {{photoHeaderLabel}}</div>
				<div class="row add-photo-sides">
					<div class="col" ng-click="getFrontPhoto()">
						<span class="front"><i class="ion-plus"></i><br>Add Photo
							<img class="front-p" ng-hide="hideFront" ng-src="{{frontImage}}" style="height: 100%; width: 100%" onerror='this.style.display = "none"' onload='this.style.display = "block"'/>
							<b class="front-b">{{frontPhotoLabel}}</b>
						</span>
					</div>
					<div class="col" ng-click="getBackPhoto()">
						<span class="front"><i class="ion-plus"></i><br>Add Photo
							<img class="front-p" ng-hide="hideBack" ng-src="{{backImage}}" style="height: 100%; width: 100%" onerror='this.style.display = "none"' onload='this.style.display = "block"'/>
							<b class="front-b">{{backPhotoLabel}}</b>
						</span>
					</div>
					<div class="col" ng-click="getSidePhoto()">
						<span class="front"><i class="ion-plus"></i><br>Add Photo
							<img class="front-p" ng-hide="hideSide" ng-src="{{sideImage}}" style="height: 100%; width: 100%" onerror='this.style.display = "none"' onload='this.style.display = "block"'/>
							<b class="front-b">{{sidePhotoLabel}}</b>
						</span>
					</div>
				</div>
				<p class="error-text-centered" ng-hide="imageError">Please upload a front, back and side photo of your item.</p>
				<p class="error-text-centered" ng-hide="serviceImageError">Please upload at least 1 photo.</p>
			</div>
            <div class="padding"><i class="ion-chatbox"></i> Fill the form below :</div>
            <div class="list padding type">
                <label class="item item-input">
                  <select class="add-select" id="type-field" ng-hide="hideType" ng-disabled="disableInput" ng-model="card.type" ng-change="typeChanged()" ng-options="type.name for type in types | filter: {item: card.item}:true">
                    <option value="">Type</option>
                  </select>
                </label>
                <label class="item item-input">
                  <select class="add-select" id="sport-field" ng-hide="hideSport" ng-disabled="disableInput" ng-model="card.sport" ng-options="sport for sport in sports">
                    <option value="">Sport</option>
                  </select>
                </label>
                <label class="item item-input" ng-hide="hideMakeModel">
                    <input type="text" id="make-model-field" placeholder="Make, Model" ng-model="card.makeAndModel" ng-disabled="disableInput">
				</label>
                <p class="error-text-centered" ng-hide="makeModelError">Please enter as following: "Make, Model".</p>
                <label class="item item-input" ng-hide="hideYear">
                  <select class="add-select" id="year-field" ng-disabled="disableInput" ng-model="card.year" ng-options="year for year in years">
                    <option value="">Year</option>
                  </select>
                </label>
				<div ng-hide="hideOneSize">
                	<span class="prices" ng-hide="hideSizeLabel1">{{sizeLabel1}}</span>
                	<label class="item item-input">
                    	<input type="text" id="size-field" placeholder="{{sizePlaceholder1}}" ng-model="card.size" ng-disabled="disableInput">
                	</label>
                </div>
                <div class="row" ng-hide="hideTwoSizes">
                	<div class="col">
						<span class="prices" ng-hide="hideSizeLabel1">{{sizeLabel1}}</span>
						<label class="item item-input input-size">
							<input type="text" id="width-field" placeholder="{{sizePlaceholder1}}" ng-model="card.width" ng-disabled="disableInput">
						</label>
                	</div>
                	<div class="col">
	                	<span class="prices" ng-hide="hideSizeLabel2">{{sizeLabel2}}</span>
						<label class="item item-input input-size">
							<input type="text" id="height-field" placeholder="{{sizePlaceholder2}}" ng-model="card.height" ng-disabled="disableInput">
						</label>
                	</div>
                </div>
                <label class="item item-input">
                	<input type="text" id="location-field" g-places-autocomplete options="autocompleteOptions" placeholder="City and country item is located in" ng-model="address" ng-disabled="disableInput">
                </label>
            </div>
            <div class="product-fuch">
                <div class="padding"><textarea id="descripition-field" placeholder="{{descriptionPlaceholder}}" ng-model="card.description" ng-disabled="disableInput"></textarea> 
                </div>
                <div class="padding" ng-hide="hideDefects">
                	<p class="small-size">* Please list all defects of your item!</p>
                	<textarea class="mintextarea" id="defect-field" placeholder="Product Defects" ng-model="card.defects" ng-disabled="disableInput"></textarea>
                </div>
            <div>
            <div class="row rate-per" ng-hide="hideRates">
                <div class="col"><h3 class="ttl big-size"><i class="ti icon-calendar"></i> Rate per Day</h3><div><h5 class="prices">$&nbsp;</h5><input type="number" id="price-per-day-field" class="input-snip" placeholder="0" ng-model="card.pricePerDay" ng-disabled="disableInput"/></div></div>
                <div class="col"><h3 class="ttl big-size"><i class="ti icon-calendar"></i> Rate per Week</h3><div><h5 class="prices">$&nbsp;</h5><input type="number" id="price-per-week-field" class="input-snip" placeholder="0" ng-model="card.pricePerWeek" ng-disabled="disableInput"/></div></div>
            </div>
            <div class="padding" ng-hide="hideRateService">
            	<span class="prices rate-service"><h3 class="ttl big-size"><i class="ti icon-calendar"></i> Rate</h3></span>
            	<label class="item item-input">
            		<input type="number" id="price-service-field"  placeholder="0" ng-model="card.pricePerDay" ng-disabled="disableInput"/>
            	</label>
            </div>
            <div class="row auth-wrap" ng-hide="hideAuthAmount">
                <div class="col col-65 "><span class="big-size auth">Authorized Amount on Renter's Card</span></div>
                <div class="col text-right">
                	<h5 class="prices">$&nbsp;</h5><input type="number" id="auth-amount-field" class="input-snip" placeholder="0" ng-model="card.authorizedAmount" ng-disabled="disableInput"/>
	            	<div class="small-size"><span>*</span> Enter a reasonable value</div>
                </div>
            </div>
            <div class="row swap-wrap" ng-hide="hideSwap">
                <div class="col"><span class="big-size auth">Swappable</span></div>
                <div class="col text-right">
                    <label class="toggle">
                    <input type="checkbox" ng-model="card.swappable" ng-disabled="disableInput">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                    </label>
                </div>
            </div>
            <div class="padding">
            	<button class="button button-block green-button add-button" ng-click="submitCard()" ng-disabled="disableInput" ng-hide="hideSubmit">SUBMIT</button>
            	<button class="button button-block green-button add-button" ng-click="saveCard()" ng-disabled="disableInput" ng-hide="hideSave">SAVE</button>
            	<div class="progress-spinner" ng-hide="hideSpinner">
            		<ion-spinner></ion-spinner>
					<p class="small-size">Please be patient while your photos are uploaded to the our server.</p>
            	</div>
            </div>
        </div>
    </ion-content>
</ion-view>