<!--<ion-view title='<img src="/images/logo-green.png"  />'>
    <ion-content class="has-header">
        <ion-list class="product-list">
        	<ion-item class="main-list-item" collection-repeat="card in cards" 
        		collection-item-width="'100%'"
            	collection-item-height="184"
            	href="#/app/card_details/{{card.cardId}}">
                <img class="profile-banner" ng-src="{{buildBannerUrl(card)}}"/>

                <div class="profile-ava"><img ng-src="{{buildOwnerPictureUrl(card)}}"/></div>
                <div class="product-info">
                    <div class="row">
                        <div class="col"><a class="button button-small button-balanced">$ {{card.pricePerDay}}/day | $
                            {{card.pricePerWeek}}/week</a></div>
                    </div>
                    <div class="row">
                        <div class="product-title col">
                            <div class="break"><span>{{card.title}}</span>&nbsp;<b>|</b>&nbsp;<span>Size {{card.size}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="small-size product-sub-info">
                        <span class="col-item"><i class="ion-heart"></i>&nbsp;{{card.likeCount}} Likes</span>
                        <span class="col-item"><img src="/images/icon-eye.png" alt="">&nbsp;{{card.viewCount}} views</span>
            
                        <div class="button button-small button-size">+ Boots Size :<strong>{{card.bootSize}}</strong></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="fetchMore()" distance="25%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>-->
<ion-view>
	<ion-nav-title>
		<img src="images/logo-green.png">
    </ion-nav-title>
    <ion-content class="has-header">
        <ion-list class="product-list">
            <ion-item ng-repeat="card in cards" href="#/app/card_details/{{card.cardId}}">
                <img class="profile-banner" ng-src="{{buildBannerUrl(card)}}"/>

                <div class="profile-ava"><img ng-src="{{buildOwnerPictureUrl(card)}}"/></div>
                <div class="product-info">
                    <div class="row">
                        <div class="col"><a class="button button-small button-balanced">$ {{card.pricePerDay}}/day | $
                            {{card.pricePerWeek}}/week</a></div>
                    </div>
                    <div class="row">
                        <div class="product-title col">
                            <div class="break"><span>{{card.title}}</span>&nbsp;<b>|</b>&nbsp;<span>Size {{card.size}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="small-size product-sub-info">
                        <span class="col-item"><i class="ion-heart"></i>&nbsp;{{card.likeCount}} Likes</span>
                        <span class="col-item"><img src="/images/icon-eye.png" alt="">&nbsp;{{card.viewCount}} views</span>
            
                        <div class="button button-small button-size">+ Boots Size :<strong>{{card.bootSize}}</strong></div>
                    </div>
                </div>

            </ion-item>

        </ion-list>
        <ion-infinite-scroll on-infinite="fetchMore()" distance="25%">
        </ion-infinite-scroll>


    </ion-content>

</ion-view>
