<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar align-title="center">
            <ion-nav-back-button class="button-clear"><i class="icon-back"></i></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"><img src="icons/menu.png" alt=""></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <div>
            <ion-nav-view name="menuContent" animation="slide-left-right">
            </ion-nav-view>
        </div>
        <!-- 
<div data-ng-show="isSearching" class="search-wrap" ng-class="{expanded: open, collapsed: !open}">
            <ion-nav-view animation="slide-right-left">
                <ion-view title="">
                    <ion-content class="has-header search">
                        <div class="search-form">
                            <div class="search-filter">
                                <div style="text-align: center;">
                                    <span class="input-iphone"><input id="search" type="search" data-ng-model="freeTextSearch" placeholder="eg. Ski Board" /></span>
                                </div>
                                <div class="advanced">
                                    <span data-ng-click="isAdvancedFilter=!isAdvancedFilter">
                                        <span data-ng-hide="isAdvancedFilter">Advanced Filter</span> <span class="green" data-ng-show="isAdvancedFilter">Advanced Filter</span> <i class="icon ion-arrow-up-b green" data-ng-show="isAdvancedFilter"></i> <i class="icon ion-arrow-down-b" data-ng-hide="isAdvancedFilter"></i>
                                    </span>
                                </div>
                                <div data-ng-show="isAdvancedFilter">
                                    <ion-list class="advanced-filter-list">
                                        <ion-item>
                                            <img src="/icons/skis.png" alt=""> Skis
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/board.png" alt=""> Boards
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/swappable.png" alt=""> Swappable items
                                            <label class="checkbox"><input type="checkbox" class="advanced-filter-checkbox " /></label>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/proximity.png" alt=""> Proximity
                                            <span class="small-grey">(in miles)</span>
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/minimum-year.png" alt=""> Minimum Year
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/boot-size.png" alt=""> Boot Size
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                        <ion-item>
                                            <img src="/icons/board-ski-size.png" alt=""> Boards/Ski Size
                                            <select class="advanced-filter-option">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </ion-item>
                                    </ion-list>
                                </div>
                                <a class="button button-block green-button">SEARCH</a>
                            </div>  
                        </div>
                    </ion-content>
                </ion-view>

            </ion-nav-view>
		</div>
 -->
    </ion-side-menu-content>

    <ion-side-menu side="left" width="195">
        <ion-content>
            <ion-list class="main-menu">
                <ion-item menu-close href="#/app/my_profile">
                    <div class="profile">
                        <span class="profile-ava"><img ng-src="{{buildProfilePictureUrl()}}" alt="Loading..." /></span>
                        <span class="profile-name">
                            <span class="name">{{getProfileName()}}</span>
                        </span>
                    </div>
                </ion-item>
                <ion-item  menu-close href="#/app/add_item">
                    <img src="icons/login.png" alt=""> List an Item
                </ion-item>
                <ion-item menu-close href="#/app/home">
                    <img src="/icons/board.png" alt=""> Find Gear
                </ion-item>
                <ion-item menu-close href="#/app/history">
                    <img src="/icons/history.png" alt=""> History
                </ion-item>
                <ion-item menu-close href="#/app/favorites">
                    <i class="ion-heart"></i> Favorites
                </ion-item>
                <ion-item menu-close href="#/app/threads">
                    <img src="/icons/message.png" alt=""> Message
                    <span class="count-info">3</span>
                </ion-item>
                <ion-item  menu-close href="#/app/offer_list">
                    <img src="/icons/offer.png" alt=""> Offers
                    <span class="count-info">3</span>
                </ion-item>
                <ion-item  menu-close href="#/app/payment_history_list">
                    <img src="/icons/payment.png" alt=""> Payments
                </ion-item>
                <ion-item  menu-close href="#/app/about">
                    <img src="icons/about.png" alt=""> About
                </ion-item>
                <ion-item  menu-close ng-click="logOut()">
                    <img src="icons/logout.png" alt=""> Log Out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<!--<script>
    $( ".input-snip" ).TouchSpin({
        verticalbuttons: true
    });
</script>-->
