<ion-view title="Messages">
    <ion-content class="has-header">
        <div class="message-wrap">
            <ion-list class="message">
                <ion-item>
                    <div class="message-box my-mes padding small-size">
                        <time class="time">7 days ago</time>
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        Nam nec tellus a odio tincidunt
                    </div>
                </ion-item>
                <ion-item>
                    <div class="message-box addressee-mes padding small-size">
                        <time class="time">7 days ago</time>
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        Nam nec tellus a odio tincidunt
                    </div>
                </ion-item>
                <ion-item>
                    <div class="message-box my-mes padding small-size">
                        <time class="time">7 days ago</time>
                        <span class="profile-ava"><img src="/images/ava1.jpg" /></span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        Nam nec tellus a odio tincidunt
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="padding write-box">
            <input class="write" placeholder="Tap to write" type="text"/>
            <input class="button button-balanced" type="submit" value="SEND"/>
        </div>
    </ion-content>
</ion-view>