<!--<ion-view title="Payment history">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <input type="search" ng-model="search" placeholder="Search"/>
        </div>
        <ion-list class="message-list payments-list">
            <ion-item data-ng-repeat="payment in paymentHistoryList" href="#/app/payment_history_details/{{payment.id}}">
                <h2 class=" ttl">{{payment.paymentDescription}} {{payment.fromDate}}</h2>

                <div class="product-name small-size ellipsis">{{payment.productTitle}}</div>
                <i class="ti icon-rent"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>-->
<ion-view title="Payment history">
    <ion-content class="has-header">
        <div class="mes-search padding">
            <span class="input-iphone"><input type="search" ng-model="search" placeholder="Search"/></span>
        </div>
        <ion-list class="message-list payments-list">
            <ion-item href="#/app/payment_history_details/id">
                <h2 class="ttl">Rent deal - I rented from John</h2>

                <div class="product-name small-size ellipsis">2012 K2 Apache</div>
                <i class="ti icon-rent circle-orange"></i>
            </ion-item>
            <ion-item href="#/app/payment_history_details">
                <h2 class="ttl">Rent deal - I rented from John</h2>

                <div class="product-name small-size ellipsis">2012 K2 Apache</div>
                <i class="ion-ios-loop-strong circle-orange"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>