<!--<ion-view title="My Profile">
    <ion-content class="has-header">
        <h1>My Profile</h1>

        {{ myInfo.firstName }} <br/>
        {{ myInfo.lastName }} <br/>
        {{ myInfo.email }}

        <ion-list>
            <ion-item ng-repeat="card in cards">
                {{ card.title }}
            </ion-item>
        </ion-list>

        <a class="button button-block button-outline button-energized" href="#/app/add_card">Add card</a>

        <a class="button button-block button-outline button-assertive" ng-click="logOut()">Log out</a>

    </ion-content>
</ion-view>-->
<ion-view title='
    <img src="/images/logo-green.png" />' >
    <ion-content class="has-header profile-edit">
        <div class="profile-img">
            <div class="profile-info-edit">
                <img src="{{myInfo.profileImage}}" />
                <div class="profile-info-edit-name">
                    <div class="name">{{myInfo.fullName}}</div>
                    <div class="state"><i class="ion-ios-location"></i> {{myInfo.state}}, {{myInfo.country}}</div>
                    <div>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star-outline"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                </div>				
		<div class="settings-box row text-center">
			<div class="col"><img src="/images/icon-list-green.png"/><span>Product List</span></div>
		  	<div class="col"><img src="/images/icon-reward.png"/><span>Review</span></div>
			<div class="col"><img src="/images/icon-mail.png"/><span>Send Message</span></div>
		 </div>
            </div>
            <ion-list class="product-list">
                <ion-item ng-repeat="card in cards" href="#/app/card_details/{{card.cardId}}">
                    <img class="profile-banner" src="{{card.boardImage}}" />

                    <div class="profile-ava"><img src="/images/ava1.jpg" /></div>
                    <div class="product-info">
                        <div class="row">
                            <div class="col">
                                <a class="button button-small button-balanced">
                                    {{card.price}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="product-title col">
                                <div class="break"><span>{{card.name}}</span>|<span>Size {{card.size}}</span></div>
                            </div>
                        </div>
                        <div class="small-size product-sub-info">
						     <span class="col-item"><i class="ion-heart"></i>&nbsp;{{card.like}} Likes</span>
						     <span class="col-item"><img src="/images/icon-eye.png" alt="">&nbsp;{{card.view}} views</span>
						</div>
                    </div>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>