<ion-view title="">
    <ion-content class="has-header">
        <div class="message-wrap">
            <ion-list class="message">
                <ion-item ng-repeat="message in thread.messages">
                    <div ng-class="{'my-mes': isMe(message.sender), 'addressee-mes': !isMe(message.sender)}"
                         class="message-box padding small-size">
                        <time class="time">{{ message.createDate | amTimeAgo }} </time>
                        <span class="profile-ava"><img ng-src="{{buildSenderPictureUrl(message.sender)}}"/></span>
                        {{ message.text }}
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div class="padding write-box">
            <textarea placeholder="Write Something..."></textarea>
            <input class="button button-balanced button-block" type="submit" value="SEND"/>
        </div>
    </ion-content>
</ion-view>