@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);

* {
    -webkit-user-select: none; /* Disable selection/copy of elements when tapping for a long time */
    -webkit-touch-callout: none; /* Disable touch callouts */
}

@font-face {
    font-family: 'tahoe-icon';
    src: url('fonts/tahoe-icon/tahoe-icon.eot?23zzsc');
    src: url('fonts/tahoe-icon/tahoe-icon.eot?#iefix23zzsc') format('embedded-opentype'), url('fonts/tahoe-icon/tahoe-icon.woff?23zzsc') format('woff'), url('fonts/tahoe-icon/tahoe-icon.ttf?23zzsc') format('truetype'), url('fonts/tahoe-icon/tahoe-icon.svg?23zzsc#tahoe-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ti {
    font-family: 'tahoe-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
/*    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.icon-time:before {
    content: "\e600";
}

.icon-payment:before {
    content: "\e601";
}

.icon-calendar:before {
    content: "\e602";
}

.icon-rent:before {
    content: "\e603";
}

.icon-board-ski:before {
    content: "\e604";
}

.icon-board:before {
    content: "\e605";
}

.icon-boot:before {
    content: "\e606";
}

.icon-ski:before {
    content: "\e607";
}

.icon-space:before {
    content: "\e608";
}

.icon-ski-l:before {
    content: url('../icons/skis.png');
}

.icon-board-l:before {
    content: url('../icons/board.png');
}

.icon-swappable:before {
    content: url('../icons/swappable.png');
}

.icon-proximity:before {
    content: url('../icons/proximity.png');
}

.icon-minium-year:before {
    content: url('../icons/minium-year.png');
}

.icon-boot-size:before {
    content: url('../icons/boot-size.png');
}

.icon-board-ski-size:before {
    content: url('../icons/board-ski-size.png');
}

.icon-search:before {
    content: ""!important;
    background-size: 100%!important;
    display: inline-block!important;
    width: 16px;
    height: 16px;
    margin-top: 9px;
}

.icon-search-black:before {
    background: url('../images/icon-search.png');    
}

.icon-search-green:before {
    background: url('../images/icon-search-green.png');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.margin {
    margin: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.button {
    border: 0;
    border-radius: 3px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before {
    vertical-align: middle;
    font-size: 27px;
    line-height: 27px;
}

input, textarea {
    -webkit-user-select: text; /* Allow selection for input elements */
}

select {
    color: #ABA4A4;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.mintextarea {
    height: 30px!important;
}

img {
    max-width: 100%;
}

.checkbox input:before, .checkbox-icon:before {
    border-radius: 2px;
    border-color: #dbdbdb;
}

.checkbox input:after, .checkbox-icon:after {
    width: 12px;
    height: 7.33333px;
	top: 4px;
	left: 3px;
}

.padding {
    padding: 15px;
}

.item-input {
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

    .item-input input {
        -webkit-flex: 1 0 180px;
        -moz-box-flex: 1;
        -moz-flex: 1 0 180px;
        -ms-flex: 1 0 180px;
        flex: 1 0 180px;
        font-size: 11px;
    }

.input-label {
    font-weight: 400;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: visible;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    box-shadow: none;
}

textarea {
    padding-top: 5px;
    padding-bottom: 5px;
}

.item, .item p {
    overflow: visible;
    white-space: normal;
}

.button-full {
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
}

.button.button-stable {
    background: #ebebeb;
}

.button-small {
    padding: 0 10px;
    font-size: 10px;
	line-height: 31px;
}

.item-checkbox {
    padding-left: 40px;
    position: relative;
}

.checkbox input, .checkbox-icon {
    width: 20px;
    height: 20px;
}

a {
    border: 0;
    color: #fff;
    text-decoration: none;
}

.row {
    padding: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.green {
    color: #97bb3d;
}

.green-button {
    background: #728F29;
    color: white;
}

.button-file {
    margin-top: -50px;
    margin-left: -410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
    position: relative;
    z-index: 3;
}

.back-button img {
	width: 21px;
	margin-top: 8px;
}

.ion-ios7-arrow-back:before {
	content: normal;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row + .row {
    margin-top: 0;
    padding-top: 10px;
}

.small-size {
    font-size: 90%;
}

.big-size {
    font-size: 110%;
}

.text-shadow-grey {
    text-shadow: 0 0 3px #333;
}

.white-color {
    color: #fff;
}

.button-shadow {
    box-shadow: 1px 1px 0 #000;
}

.break {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.ion-navicon {
	margin-top: 5px;
}

.ion-navicon img {
	width: 15px;
	vertical-align: bottom;
}

.ion-navicon:before {
	content: normal!important;
}

div[data-ng-show="isSearching"] .pane {
	height: 210px;
}

div[data-ng-show="isSearching"] .pane .search {
	overflow: visible;
}

.product-title .break {
    max-width: 73%;
}

.non-border {
    border: 0;
}

.content-padded {
    padding: 10px;
}

.login-fb {
    margin: 15px auto 0;
}

.colon:before {
    content: ":";
    margin-right: 10px;
}

.non-space {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    min-height: 0;
    min-width: 0;
    line-height: normal;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-animated {
/*    left: -80px;*/
}

.main-menu .item {
    font-size: 14px;
    color: #525252;
    font-weight: 600;
}

.main-menu .item img {
	width: 18px;
	vertical-align: top;
	margin-right: 12px;
}

.main-menu .item .profile-ava img {
	width: auto;
}

.main-menu .profile {
    display: inline-block;
    padding-bottom: 12px;
}

.list-inset.login-form {
    background: none;
    margin: 10px 30px 0;
}

.login-form .item {
    margin: 0 0 7px;
}

.login a {
    text-decoration: underline;
}

.grade-b .menu-content {
    border: none;
    box-shadow: 0 0 10px #999;
}

.button.button-balanced-lght {
    background: #97bb3d;
    color: #fff;
}

.button-balanced-grey {
    background: #aaaaaa;
    color: #fff;
}

.button.button-balanced {
    background: #728f29;
}

.login-block .button.button-energized {
    min-height: 37px;
    line-height: 37px;
    margin-top: 5px;
	font-weight: 600;
}

.button.button-energized {
    background: #e0c616;
}

.login {
    background: url('../images/bg-login.jpg') no-repeat center top;
    background-size: 100%;
    min-height: 600px;
}

.main-menu .item {
    margin-right: 15px;
    border-right: 0;
    position: relative;
}

.advanced-filter-list .item {
    border-right: 0;
    border-left: 0;
    position: relative;
    font-weight: 700;
    vertical-align: middle;
}

a.item-content:after {
    content: normal !important;
}

.main-menu .item i {
    color: #97bb3d;
    margin-right: 15px;
    font-size: 130%;
}

.main-menu .profile-name .name {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 1px;
    font-weight: 300;
    font-size: 14px;
}

.advanced-filter-list .item i {
    color: #97bb3d;
    top: 7px;
    position: relative;
}


.profile-edit .item-complex .item-content, .item-radio .item-content.item-content,
.profile-edit a.item, .profile-edit button.item, .profile-edit .item[href] .item-content, .item[ng-click] .item-content {
    padding: 0;
}

.login-block {
    padding: 10px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-top: 78px;
}

.logo-main > img {
    width: 134px;
    margin-top: 3px;
}

.remember-forgot-box .item-checkbox .checkbox {
    padding-left: 0;
    left: 0;
}

.remember-forgot-box .item-checkbox .checkbox input:before {
	border-radius: 4px;
	border-color: #AEACAC;
}

.remember-forgot-box .item-checkbox {
    padding-left: 25px;
}

.row.remember-forgot-box {
    margin-top: 5px;
}

.remember-forgot-box {
    margin: 0 15px;
    padding: 0px 10px;
}

.padding-big {
    padding: 0 30px;
}

.product-list .item {
    border: 0;
    padding: 0;
    position: relative;
}
.product-list .item-content {
	padding: 0;
}
.product-list .item[href] .item-content {
	padding-right: 0;
}
.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    color: #fff;
    background: url('/images/product-bg.png') bottom repeat-x;
	
}

    .product-info .row, .product-info .col {
        padding: 1px 5px;
    }

    .product-info .small-size {
        font-size: 80%;
        font-weight: 300;
    }
    
    .product-info .button.button-balanced {
        background: #97bb3d;
        font-size: 12px;
        font-weight: 600;
    }

.product-title {
    padding-right: 70px;
    padding-bottom: 0;
    font-size: 15px;
    margin-top: 5px;
}

.button-size {
    line-height: normal;
    font-size: 9px;
    position: absolute;
    right: -1px;
    bottom: 20px;
    padding: 3px 4px 1px;
    font-weight: 600;
}

    .button-size select {
        /*-webkit-appearance: none;*/
        /*-moz-appearance: none;*/
        /*appearance: none;*/
        border: 0;
        background: none;
        margin: 0;
        line-height: normal;
        height: auto;
        padding: 0;
        display: inline;
    }

    .button-size .item {
        padding: 0;
        border: 0;
        background: none;
    }

    .button-size input {
        padding: 0;
        border: 0;
        background: transparent;
        text-align: center;
        max-width: 50px;
        height: auto;
        font-size: 100%;
        color: #000;
        margin: 3px auto 0;
    }

        .button-size input::-webkit-input-placeholder {
            color: #000;
        }

        .button-size input:-moz-placeholder { /* Firefox 18- */
            color: #000;
        }

        .button-size input::-moz-placeholder { /* Firefox 19+ */
            color: #000;
        }

        .button-size input:-ms-input-placeholder {
            color: #000;
        }

    .button-size strong {
        font-size: 13px;
        font-weight: 700;
		display: block;
		line-height: 12px;
    }

.product-sub-info .ion-heart:before {
    color: #ef3636;
}

.product-sub-info {
    padding: 0 10px;
}

.product-sub-info img {
    width: 16px;
}

.product-sub-info span {
    position: relative;
    margin-right: 15px;
    color: #909090;
    font-size: 13px;
}

.product-sub-info .ion-heart {
    font-size: 130%;
}

.product-sub-info span:after {
    content: '.';
    color: #fff;
    vertical-align: top;
    position: absolute;
    left: -12px;
    top: -8px;
    font-size: 23px;
	font-weight: 600;
}

.product-sub-info span:first-child:after {
    content: normal;
    margin-right: 0
}

    .product-sub-info .col:first-child:after, .product-sub-info .col:nth-child(2):after {
        content: '.';
        position: relative;
        margin-left: 10px;
        color: #fff;
        top: -3px;
    }

    .product-title b {
        font-weight: 300;
        opacity: .3;
    }
    
.profile-ava {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 5px #333;
    background: #fff;
    line-height: 40px;
    display: inline-block;
    z-index: 1;
    border: 1px solid #fff;
}

.product-list .profile-ava {
    position: absolute;
    right: 10px;
    top: 10px;
}

.profile .profile-ava {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 10px;
    float: left;
    margin-right: 1px;
    border: 1px solid #fff;
}

.main-menu .profile-ava {
    margin-right: 8px;
}

.main-menu .profile i {
    margin-right: 3px;
    color: #fff200;
    font-size: 80%;
    margin-right: -2px;
}

.profile-name {
    position: relative;
    top: 15px;
    float: left
}

    .profile-name .name {
        border-bottom: 1px solid #53595C;
        padding-bottom: 3px;
        width: auto;
    }
    .stars {
        clear: both;
        margin-top: 2px;
    }

.count-info {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ed1c24;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 70%;
}

.main-menu .count-info {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
}

.advanced {
    margin-top: 7px;
    text-align: center;
    color: #6b6b6b;
    font-size: 95%;
}

.advanced i {
    vertical-align: baseline;
}

#search {
    height: 42px;
}

.advanced-filter-list .advanced-filter-option {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    width: 30%;
    text-align: center;
    height: 40px;
    text-indent: 25px;
}

.bar-header .title img {
    width: 82px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.bar-header .right-buttons-box {
    position: absolute;
    right: 7px;
    bottom: 1px;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 7px;
}

.bar-header .right-buttons {
    position: absolute;
    right: 0;
    /*bottom: -6px;
    z-index: 1;
    padding-bottom: 6px;*/
}

.input-iphone {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    box-shadow: none;
    display: inline-block;
    width: 100%;
}

.input-iphone input {
    box-shadow: none;
    border: 0;
    background: transparent;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-box {
    border-color: transparent;
}

.search-form {
    margin-top: 20px;
}

.search-form .checkbox {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
    padding-right: 0;
}

.search-form .item i {
    color: #97bb3d;
    font-size: 140%;
    margin-right: 12px;
    vertical-align: text-bottom;
}

.search-form .item img {
    width: 25px;
    vertical-align: text-bottom;
    margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  margin: 0; 
}

.button-search {
    width: 100% !important;
}

.search-form .item:first-child {
    border-top: 0;
}

.search-form .item:last-child {
    border-bottom: 0;
}

.search-form .item .advanced i {
    font-size: 80%;
    color: #ccc;
    margin-left: 5px;
    vertical-align: middle;
}

.product-detail {
    position: relative;
}

.product-detail-wrap {
    background: #d1d1d1;
}

.product-detail-desc {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 7px #999;
    margin: 15px 15px 0;
    background: #fff;
    position: relative;
    min-height: 300px;
}

    .product-detail-desc h2 {
        color: #656565;
        font-size: 150%;
    }
    .product-detail .profile-name i {
        color: #fff200;
    }

.buttons-full-box {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    background: #e0e0e0;
    padding-bottom: 2px;
}

    .buttons-full-box > div {
        float: left;
        height: 57px;
    }

.button-light-block {
    background: #fff;
    box-shadow: 0 1px 1px #ccc;
    width: 70%;
}

.buttons-full-box > .padding {
    padding: 10px;
}

.buttons-full-box .padding.send-block {
    padding: 0;
}

.button-light-block .button {
    min-width: 90px;
    box-shadow: 0 1px 0 #333;
    font-size: 14px;
    line-height: 38px;
    min-height: 38px;
    font-weight: 600;
}

.send-block {
    background: #444c50;
    text-align: center;
    color: #fff;
    width: 30%;
    font-size: 85%;
    line-height: 10px;
}

    .send-block i {
        font-size: 350%;
        position: relative;
        top: 4px;
    }

.button-light-block .button:first-child {
    margin-right: 15px;
    position: relative;
}

    .button-light-block .button:first-child:before {
        content: "";
        width: 1px;
        height: 100%;
        display: inline-block;
        background: #ccc;
        position: absolute;
        right: -10px;
        top: 0;
    }

.product-detail .profile {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 3;
}

.product-detail .profile-name {
    background: #444c50;
    color: #fff;
    top: 10px;
    padding: 5px 10px 3px 4px;
    width: 70px;
}

    .product-detail .profile-name:after {
        content: "";
        display: block;
        width: 40px;
        height: 100%;
        left: -31px;
        top: 0;
        background: #444c50;
        z-index: -1;
        position: absolute;
    }

.ui-spinner {
    width: 30%;
}

.input-group-btn-vertical {
    float: left;
    margin-top: 1px;
}

    .input-group-btn-vertical .btn-default {
        border: 1px solid #bbbbbb;
        background: none;
        display: block;
        font-family: "Ionicons";
        text-align: center;
        margin: -1px;
    }

.bootstrap-touchspin-up:before {
    content: "\f10d";
}

.bootstrap-touchspin-down:before {
    content: "\f104";
}

.input-group-btn-vertical .btn-default .glyphicon {
    display: none;
}

.search-form .form-control {
    float: left;
    width: 60px;
    height: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}

.search-form .bootstrap-touchspin {
    width: 82px;
    float: right;
}

.label-snip {
    float: left;
    margin-top: 10px;
}

.search-form .item {
    overflow: hidden;
    padding: 15px 0;
    border-left: 0;
    border-right: 0;
    border-color: #dbdbdb;
}

    .search-form .item:first-child {
        border-top: 0;
        padding-top: 0;
    }

.label-snip span {
    font-size: 80%;
    color: #999;
}

.small-grey {
    color: #959595;
    font-size: 10px;
    font-weight: 400;
}

.manag-btn {
    position: absolute;
    padding: 0;
    width: 10px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 0;
    z-index: 100;
    box-shadow: 0 0 3px #777;
}

    .manag-btn.prev {
        left: 0;
    }

    .manag-btn.next:after {
        content: '\f10a';
        color: #636363;
        font-family: "Ionicons";
        margin-left: 2px;
    }

    .manag-btn.next {
        right: 0;
    }

    .manag-btn.prev:after {
        content: '\f107';
        color: #636363;
        font-family: "Ionicons";
    }

.popup-container.popup-showing {
    visibility: visible;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    z-index: 12;
    visibility: hidden;
}

    .popup-container.active .popup {
        -webkit-animation-name: superScaleIn;
        animation-name: superScaleIn;
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        visibility: visible;
    }

    .popup-container .popup {
        width: 300px;
        max-width: 100%;
        max-height: 90%;
        border-radius: 0px;
        background-color: rgba(255, 255, 255, 1);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: static;
        padding: 20px 5px;
    }

.popup-head {
    padding: 15px 10px;
    border-bottom: 0;
    text-align: center;
}

.popup-body {
    padding: 10px;
    overflow: visible;
}

.popup-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
    min-height: 65px;
}

    .popup-buttons .button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        min-height: 45px;
        border-radius: 2px;
        line-height: 20px;
        margin-right: 5px;
    }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}

    .backdrop.visible {
        visibility: visible;
    }

    .backdrop.active {
        opacity: 1;
    }

.platform-android.platform-cordova .title-t {
    line-height: 48px;
}

.bar.bar-light .title {
   color: #97bb3d;
   text-transform: uppercase;
   text-overflow: inherit;
   overflow: visible;
   top: 0;
   right: 0!important;
   left: 0!important;
}

.bar.bar-light {
    box-shadow: none;
	border: 0!important;
	background: none!important;
}

.bar .title-t {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    line-height: 44px;
}

.product-rent-img {
    float: left;
    width: 80px;
	height: 80px;
    margin-right: 20px;
}

.product-rent-desc {
    float: left;
    width: 65%;
}

    .product-rent-desc .ttl {
        font-size: 11px;
        margin-top: 10px;
		margin-bottom: 7px;
		font-weight: normal;
    }

    .product-rent-desc .small-size {
        font-size: 70%;
        line-height: normal;
        color: #7e7e7e;
    }
	.product-rent-desc p {
		color: #7e7e7e;
		font-size: 9px;
		line-height: normal;
	}

.product-rent-img img {
    border: 3px solid #fff;
    box-shadow: 0 0 5px #ccc;
}

.product-rent {
    padding: 25px 10px;
    background: #f3f3f3;
    box-shadow: 0 2px 2px #ccc;
    overflow: hidden;
    z-index: 1;
    position: relative;
	border-top: 1px solid #cecece;
}

.add-note {
    padding: 20px 15px 15px;
    background: #f3f3f3;
}

.rent i {
    color: #97bb3d;
    vertical-align: baseline;
}

.mes-current-date .ttl span {
    color: #c4c4c4;
}

.mes-current-date {
    font-size: 90%;
}

    .mes-current-date .ttl {
        margin-bottom: 0;
		font-size: 11px;
    }

.current-date {
    color: #97bb3d;
    margin-bottom: 5px;
}

.date-rent {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding: 0;
}

    .date-rent .col {
        padding: 20px 5px;
    }

    .date-rent .ttl {
        font-size: 90%;
    }

    .date-rent > div:first-child {
        border-right: 1px solid #eee;
    }
    
    .date-rent .icon-calendar {
        vertical-align: top;
		font-size: 9px;
    }
    
.add-note textarea {
    min-height: 77px;
    font-size: 10px;
    color: #999;
    padding-bottom: 15px;
    text-align: left;
}

.sum-box {
    font-size: 80%;
}

    .sum-box > div {
        border-bottom: 1px solid #eee;
    }

    .sum-box .sum-info {
        padding: 0 10px 5px;
        font-size: 120%;
    }

        .sum-box .sum-info:first-child {
            border: 0;
        }

        .sum-box .sum-info .col {
            padding: 0 5px;
			line-height: normal;
        }

.sum-count {
    color: #c4c4c4;
}

    .sum-count:before {
        color: #000;
    }

.sum-total {
    font-size: 160%;
    padding: 2px 10px 15px!important;
}

.sum-box b {
    font-weight: 600;
}

.auth-amount {
	padding-top: 3px!important;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

.date-rent .dropdown-menu {
    width: 280px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    left: 50% !important;
    top: 10% !important;
    margin-left: -140px;
    padding: 10px;
    border: 1px solid #ccc;
}

    .date-rent .dropdown-menu:after {
        /*content: '';*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: 0.1s opacity linear;
        transition: 0.1s opacity linear;
    }

.date-rent .btn-default strong{
    color: #4f4f4f;
    font-weight: 300;
    border: 0;
    background: none;
}

.date-rent .btn-default{
    color: #4f4f4f;
    font-weight: 300;
    border: 0;
    background: none;
}

.date-rent .btn-info.active {
    background: #97bb3d;
    color: #fff;
}

.date-rent .pull-left, .date-rent .pull-right {
    display: none;
}

.change-day .button-stable {
	width: 60px;
	height: 20px;
	line-height: 20px;
	min-height: 0;
	padding: 0;
	font-size: 7px;
	letter-spacing: -0.03em;
}

.select-day .button-stable {
	width: 70px;
	height: 25px;
	line-height: 25px;
	min-height: 0;
	padding: 0;
	font-size: 8px;
	letter-spacing: -0.03em;
}

.date-rent table .pull-right, .date-rent table .pull-left {
    border: 0;
    background: none;
    font-family: "Ionicons";
    text-align: center;
}

    .date-rent table .pull-right i, .date-rent table .pull-left i {
        display: none;
    }

    .date-rent table .pull-right:before {
        content: '\f10a';
    }

    .date-rent table .pull-left:before {
        content: '\f107';
    }

.date-rent table {
    table-layout: fixed;
    max-width: 100%;
    width: 100%;
}

    .date-rent table td {
        font-size: 75%;
        height: 30px;
    }

        .date-rent table td button {
            font-size: 100%;
            height: 100%;
        }

.date-rent .btn-info {
    border: 0;
    background-color: #498f24;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.date-rent .btn-danger {
    border: 1px solid #a2a2a2;
    background-color: #e5e5e5;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.date-rent .btn-success {
    border: 1px solid #cc2311;
    background-color: #cc2311;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.date-rent .text-muted {
    font-size: 11px;
}

.agree-form {
	padding-top: 0;
	padding-bottom: 0;
}

.agree-form input[type="text"] {
    height: 20px;
	width: 50px;
    margin-top: 7px;
}

.agree-form input {
    background: #ebebeb;
    box-shadow: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.agree-form input:before {
	border: 0;
	background: #ebebeb;
	border-radius: 5px;
}

.button-send {
	padding-top: 0;
}

.button-send .button {
	height: 38px;
	line-height: 38px;
	min-height: 0;
	font-weight: 600;
}

.label-chekbox {
    display: inline-block;
    position: relative;
    top: 3px;
    vertical-align: top;
    margin-left: 3px;
    font-size: 70%;
}

.mes-list-img {
    float: left;
    width: 20%;
    margin-right: 5%;
}

.mes-list-desc {
    float: left;
    width: 75%;
    position: relative;
}

    .mes-list-desc .ttl {
        padding-right: 40px;
        margin-bottom: 0;
        font-size: 80%;
    }

    .mes-list-desc .time {
        position: absolute;
        right: 0;
        top: -15px;
        color: #ccc;
        font-size: 80%
    }
.mes-list-desc .ellipsis {
	height: 36px;
	overflow: hidden;
}

.mes-search {
    background: #e7e7e7;
}

.mes-search input {
    min-height: 45px;
}

.mes-search .input-iphone {
    background: #fff;
}

.message-list a {
    display: block;
    overflow: hidden;
}

.message-list .item {
    border-left: 0;
    border-right: 0;
    margin: 0 15px;
}

    .message-list .item:first-child {
        border-top: 0;
        margin-top: 20px;
    }

    .message-list .item[href] .item-content {
        padding: 10px 0;
    }

    .message-list .item p {
        font-size: 12px;
        line-height: normal;
    }

.message-list .profile-ava {
    width: 55px;
    height: 55px;
}

.message-box {
    position: relative;
    background: #fff;
    padding: 40px 10px 10px;
}

    .message-box .time {
        position: absolute;
        right: 0;
        top: -25px;
        color: #b8b8b8;
    }

    .message-box .profile-ava {
        position: absolute;
        left: 0;
        top: -20px;
    }
    .message-box.small-size {
        font-size: 70%;
        line-height: normal;
    }

    .bar .button-bar > .button, .bar .buttons > .button, .bar .button {
        line-height: normal
    }    
    
.addressee-mes {
    background: #d9d9d9;
}

    .addressee-mes .time {
        left: 0;
        right: auto;
    }

    .addressee-mes .profile-ava {
        right: 0;
        left: auto;
    }

.message {
    padding-top: 30px;
}

    .message .item {
        border: 0;
        padding: 0;
        margin: 15px;
        margin-bottom: 40px;
    }

.message-wrap {
    padding-top: 30px;
    background: #e9e9e9;
}

.write-box .write {
    min-height: 47px;
    display: inline-block;
    width: 68%;
    font-size: 18px;
    border: 1px solid transparent;
}

.write-box .write:focus {
    border: 1px solid #dbdbdb;
}

.write-box .button {
    display: inline-block;
    width: 30%;
}

.offer-list .offer-name {
    font-size: 70%;
}

.offer-list .city {
    font-size: 70%;
    padding-bottom: 3px;
    color: #c0c0c0;
    margin-bottom: 2px;
    border-bottom: 1px solid #f4f4f4;
	font-weight: 600;
}

.offer-list i {
    position: absolute;
    right: 0;
    top: 12px;
}

.offer-list .ion-loop {
    color: #e0c616;
}

.offer-list .rent-icon {
    border-color: #97bb3d;
    width: 20px;
    height: 20px;
    line-height: 17px;
    font-size: 110%;
}

.offer-list-info .count-info {
    position: absolute;
    top: -11px;
    right: 3px;
}

.offer-list .item {
    overflow: hidden;
}

.offer-list .item {
    margin: 0 15px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.offer-list-info {
    margin: 15px 0 5px;
    border: 1px solid #ddd;
    color: #777;
    padding: 0;
    border-radius: 2px;
}

.offer-list .profile-ava {
    margin-left: 2px;
}

.offer-list-info .col {
    border-right: 1px solid #ddd;
    position: relative;
}

.offer-wrap .tabs-positive > .tabs {
	background: none;
	color: #c0c0c0;
	border: 0;
	padding: 0;
	height: 38px;
	line-height: 38px;
	top: 5px;
	bottom: auto;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	border: 1px solid #e1e1e1!important;
	border-radius: 3px;
}

.offer-wrap .tab-item {
	border-right: 1px solid #e1e1e1;
	opacity: 1;
}

.offer-wrap .tab-item.tab-item-active {
	color: #97bb3d;
}

.offer-wrap .tab-item:last-child {
	border: 0;
}

.offer-list-info .col:last-child {
    border: 0;
}

.offer-wrap .tabs-positive .pane {
	margin-top: 50px;
}

.ttl-offer-popup {
    font-size: 100%;
}

.payments-list .item {
    padding-left: 0;
    border-bottom: 0;
	border-color: #efefef;
}

.offer-alert {
    text-align: center;
}

.offer-alert i {
    color: #fff200;
    font-size: 500%;
}

.offer-alert textarea{
    height: 90px; 
}

.payments-list i {    
    top: 50%;
    margin-top: -10px;
    right: 10px;
    position: absolute;
}

.circle-orange {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 75%;
    background: #e1c71b;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.circle-green {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 75%;
    background: #97bb3d;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.message-list .ttl {
	font-weight: 400;
    font-size: 13px;
	margin-bottom: 0;
}

.payments-list .product-name {
    max-width: 70%;
    color: #c0c0c0;
    font-size: 10px;
	line-height: normal;
}

.payment-history a {
    color: #97bb3d;
    text-decoration: none;
}

.payment-history .product-rent-img {
	position: relative;
}

.payment-history .product-rent-img:after {
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	position: absolute;
	right: -9px;
	top: -4px;
	background: #e7e7e7;
}

.payment-history .button-stable {
	font-size: 10px;
	color: #484848;
	width: auto;
	min-height: 0;
	min-width: 0;
	display: inline-block;
	padding: 5px 10px;
	line-height: normal;
}

.payment-history hr {
	background: #e7e7e7;
	border: 1px solid #e7e7e7;
}

.history-date {
	padding-bottom: 0;
}

.goto {
	padding-top: 0;
}

.history-row .row {
	padding: 0 10px;
}

.history-row .row {
	font-size: 11px;
	color: #c0c0c0;
}

.history-row .row b {
	font-weight: normal;
	color: #000;
}

.payment-history .icon-rent {
    position: absolute;
	font-size: 14px;
	right: 0;
	top: 8px;
}

.payment-history .main-ttl {
	font-size: 13px;
	margin-bottom: 0;
	position: relative;
	padding-right: 25px;
}

.payment-history .product-ttl {
	color: #c0c0c0;
	font-size: 11px;
}

.rental-box p {
    font-size: 70%;
    color: #9f9f9f;
    line-height: normal;
    margin-bottom: 0;
}

.rental-box {
    padding-bottom: 0;
}

.rental-box .ttl {
	margin-bottom: 5px;
}

/*.advanced-filter-list .item {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
}*/

.search-filter {
    margin-top: 5px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
	padding-bottom: 20px;
    /*border: 1px solid #d3d3d3;*/
    /*-moz-box-shadow: -1px -1px 5px #d3d3d3;
    -webkit-box-shadow: -1px -1px 5px #d3d3d3;
    box-shadow: -1px -1px 5px #d3d3d3;*/
}

.search-filter .green-button {
    background: #728f29;
    box-shadow: 0 1px 0 #333;
    min-height: 43px;
}

.header-shadow {
    -moz-box-shadow: 1px 1px 5px #d3d3d3;
    -webkit-box-shadow: 1px 1px 5px #d3d3d3;
    box-shadow: 1px 1px 5px #d3d3d3;
}

.rent-offer-head .ttl{
    font-size: 15px;
    margin-bottom: 0;
}

.rent-offer-head .desc {
    color: #959494;
    margin-bottom: 7px;
	font-size: 10px;
	line-height: normal;
}

.rent-offer-head .icon-rent {
    background: #97bb3d;
    color: #fff;
    font-size: 140%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: -12px;
}

.rent-box {
    display: inline-block;
}

.total-rent .colon {
    color: #c4c4c4;
    font-weight: 600;
}

.total-rent {
    font-size: 155%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
	padding-top: 0;
}

.total-rent .colon:before {
    color: #000;
}

.rent-offer-head .amount {
    color: #484848;
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 85%;
}

.rent-offer-sent .add-note {
    background: none;
    padding-bottom: 10px;
	padding-top: 15px;
}

.rent-offer-sent i {
    color: #97bb3d;
}

.rent-offer-sent .button-energized-btn {
    min-height: 30px;
	line-height: 30px;
	max-width: 120px;
	font-size: 13px;
	width: auto;
	padding: 0;
}

.rent-offer-sent .button-energized-btn sup {
	top: -3px;
	font-size: 8px;
}

.rent-offer-sent .button-block {
	height: 35px;
	line-height: 35px;
	min-height: 0;
	font-weight: 600;
	box-shadow: 0 1px 0 #999;
	font-size: 15px;
}

.rent-offer-sent .button-block.button-balanced-grey {
	font-size: 10px;
	box-shadow: none;
}

.add-note textarea {
    border: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    resize: none;
}

.rent-offer-sent .profile-name i {
    color: #fff200;
}

.profile-name i {
    margin-right: -2px;
}

.rent-offer-sent .profile {
    right: -21px;
    top: -5px;
}

.rent-float {
    float: left;
    width: 38%
}

.rent-offer-head {
    float: left;
    width: 60%;
}

.rent-offer-sent .padding {
    overflow: hidden;
}

.rent-offer-sent .slider {
    position: relative;
}

.rent-offer-sent .ttl-top {
    width: 100%;
    font-weight: 300;
    margin: 0;
    padding: 15px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 180%;
    text-align: center;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,.9)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.9) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.9) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}

.register {
    background: url('../images/bg-sign-up.jpg') no-repeat center top;
    background-size: 100% auto;
}

.login-block.register-block {
    padding-top: 15px;
    margin-top: 10px;
}

.register .logo-main img {
    width: 134px;
    margin-top: 25px;
}

.register-block .remember-forgot-box{
    margin: 0;
}

.register .item-checkbox .small-size {
    font-size: 75%;
    letter-spacing: -0.05em;
}

.register .padding {
    padding: 3px 15px;
}

.register .row {
    padding: 0 10px;
}

.register .row .col {
	padding: 3px 5px;
}

.add-img {
    width: 85px;
    height: 85px;
    border: 2px dashed #fff;
    text-align: center;
    color: #fff;
    margin: 15px auto 10px;
    overflow: hidden;
    font-size: 11px;
    padding-top: 20px;
	font-weight: 600;
	letter-spacing: -0.03em;
	border-radius: 3px;
}

.add-img .ion-plus {
	font-size: 16px;
	display: block;
}

.register a {
    text-decoration: underline;
}

.register input[type="text"] {
    height: 35px;
}

.register .list {
    padding: 0 30px;
}

.profile-info-edit {
    position: relative;
}


.counter_recevied .rent-offer-sent i {
    color: #b7b7b7;
}
.settings-box {
	position: absolute;
	bottom: 0;
	left: 0;
    color: #fff;
    padding: 40px;
}

.my-profile .settings-box {
    padding: 10px;
}

.my-profile .profile-ava {
	width: 45px;
	height: 45px;
}

.settings-box i {
    font-size: 250%
}

.settings-box.settings-box {
    padding-bottom: 0
}

.settings-box img {
    height: 17px;
}

.settings-box a {
	letter-spacing: -0.05em;
}

.profile-info-edit-name {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 138px;
	margin-left: -100px;
	left: 50%;
	text-align: center;
	color: #fff;
}

.settings-box .col {
    border-right: 1px solid #fff;
    font-size: 75%;
    font-weight: 300;
	padding-bottom: 12px;
}

.settings-box .col span {
	display: block;
	line-height: normal;
}

.settings-box .row {
     padding: 10px 0;
}

.settings-box .col:last-child {
    border: 0
}

.profile-info-edit-name .name {
    font-size: 190%;
    margin-bottom: 7px;
}

.profile-info-edit-name i:not(.ion-ios-location) {
    color: #fff200;
    font-size: 18px;
    margin-left: -2px;
}

.profile-info-edit {
    position: relative
}

.profile-info-edit img {
    vertical-align: top;
}

.profile-info-edit:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,.4)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}

.profile-info-edit .state {
    margin-bottom: 5px;
}

.button-energized-btn {
    margin: auto;
    text-align: center;
    display: block;
    width: 145px;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 15px;
}

.button-energized-btn-line {
    width: 100%;
    height: 1px;
    background: #efefef;
    position: relative;
    top: -15px;
    left: 0;
    z-index: 0;
}

.swap-offer-sent.rent-offer-sent .ion-ios-loop-strong {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e0c616;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    position: relative;
    top: -8px;
    margin-right: 5px;
}

.swap-offer-sent .swap-total-rent.total-rent {
    font-size: 10px;
    border-bottom: 1px solid #efefef!important;
	color: #444c50;
}

.swap-total-rent .colon {
    color: #c4c4c4;
	font-size: 13px;
}

.total-rent .colon {
    margin-left: 50px;
}

.total-rent .colon:before {
    margin-right: 15px;
}

.swap-offer-sent .total-rent {
    border: 0;
	font-size: 15px;
}

.img-swap > div {
    float: left;
    width: 50%;
	height: 100%;
    position: relative;
}

.img-swap {
    position: relative;
    overflow: hidden;
    height: 137px;
	padding: 0 5px;
	margin-top: 15px;
}

.swap-offer-sent.rent-offer-sent .img-swap .ion-ios-loop-strong {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e0c616;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    z-index: 5;
}

.swap-offer-sent.rent-offer-sent .img-swap .ion-ios-loop-strong:before {
    content: "";
    display: inline-block;
    background: url('../images/icon-loop.png') no-repeat center top;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 100%;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -10px;
}

.swap-offer-sent .img-swap .ion-ios-loop-strong{
    background: #97bb3d!important;
}

.swap-offer-new .img-swap .ion-ios-loop-strong{
    background: #e0c616!important;
}

.img-swap > div span {
    color: #fff;
    background: url('/images/bg-swap-product.png') repeat-x bottom;
    padding: 8px;
    font-size: 80%;
    width: 100%;
	height: 51px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-swap > div span b {
	font-weight: normal;
	position: relative;
	top: 20px;
	display: inline-block;
	line-height: normal;
}

.ttl-swap-img {
   	position: absolute;
	left: 9px;
	top: 9px;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 2px 5px;
	font-size: 10px;
	z-index: 3;
	border-radius: 2px;
	width: 40px;
	text-align: center;
	line-height: normal;
}

.add-note {
    color: #9c9c9c;
    font-size: 90%;
    line-height: normal;
}

.border-box {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
	font-size: 10px;
}

.swapping .img-swap {
	padding: 0;
	margin-top: 10px;
}

.swapping .img-theirs img {
	width: 100%;
}

.swapping .add-note {
    background: #f5f5f5; 
}

.swapping .add-note textarea {
    border: 1px solid #ddd; 
}

.add-img-mine {
    background: #e2e2e2;
    position: relative;
    min-height: 137px;
}

.add-img-mine .add-img-item {
    width: 100px;
    height: 100px;
    border: 2px dashed #c2c2c2;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    line-height: 85px;
    color: #848484;
    background: none;
	border-radius: 3px;
	font-weight: 600;
	font-size: 11px;
}

.boost-wrap {
    margin: 20px auto;
    width: 182px;
    overflow: hidden;
}

.boost-wrap > span {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.eg-box {
    border-radius: 3px 0 0 3px;
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    font-size: 90%;
    width: 80px;
}

.boost-box {
    border-radius: 0 3px 3px 0;
    background: #97bb3d;
    color: #fff;
    width: 102px;
    text-align: center;
	font-weight: 600;
}

.boost-box i {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    background: #fff;
    color: #97bb3d;
    vertical-align: text-top;
}

.swapping .swap-total-rent.total-rent {
	color: #000;
}

.swapping .total-rent {
    padding-bottom: 10px;
}

.write-note {
    text-align: left;
    margin-bottom: 3px;
}

.counter_recevied .rent-offer-head .ion-android-notifications{
    color: #b7b7b7;
    font-size: 170%;
    vertical-align: top;
    position: relative;
    top: -9px;
}

.stars-offers {
    position: relative;
    top: -20px;
    margin-bottom: 10px;
}

.boost-wrap.alert{
    margin: 15px auto;
}

.popup-title {
    font-size: 18px;
}

.add-photo-wrap {
    background: #f3f3f3;
    box-shadow: 0 1px 2px #ccc;
}

.add-photo-wrap .row {
	padding-top: 5px;
}

.add-photo-wrap .ttl span{
    color: red;
}
.add-photo-wrap .ttl {
    color: #898989;
	letter-spacing: -0.04em;
	padding: 15px 15px 0;
}

.add-photo {
    width: 90px;
    height: 90px;
    border: 2px dashed #d7d7d7;
    color: #d7d7d7;
    text-align: center;
    padding-top: 25px;
    display: block;
    font-size: 90%;
	border-radius: 3px;
}

.add-photo .ion-plus {
    color: #d7d7d7;
    font-size: 160%;
}

.add-btn .ttl {
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ececec;
    padding: 0 0 5px;
    font-weight: 700;
	border-radius: 3px;
}

.add-btn>div {
    margin: 5px auto 0 5px
}

.add-btn .button {
    font-size: 140%;
}

.front {
    width: 95px;
    height: 95px;
    background: #e1e1e1;
    position: relative;
    display: block;
    text-align: center;
    line-height: 90px;
    color: #a6a6a6;
    font-size: 90%;
}

.front-b {
    background: #797979;
    color: #fff;
    position: absolute;
    left: 7px;
    bottom: 7px;
    border-radius: 3px;
    padding: 1px 5px;
    font-weight: 700;
    line-height: normal;
}

.front i {
    color: #728f29;
    width: 12px;
    height: 12px;
    border: 1px solid #728f29;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 120%;
}

.add-photo-sides {
    border-bottom: 2px dotted #e1e1e1;
    padding-bottom: 5px;
	padding-top: 5px;
}

.add-photo-sides .col {
	padding: 3px;
}

.list.type select{
    width: 100%;
}

.add-btn .button {
    overflow: hidden;
    max-width: 115px;
    height: 36px;
	line-height: 36px;
	min-height: 0;
	font-size: 16px;
}

.add-btn .button span {
    font-weight: 600;
}

.add-item-input .item-checkbox {
    padding-left: 0;
}

.add-item-input .item-checkbox .checkbox {
    position: static;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.add-item-checkbox {
    margin-top: 8px;
    color: #e1e1e1;
}

.add-item-input {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: -5px;
}

.add-item-input input[type="text"] {
    border: 0;
    box-shadow: none;
    background: #eeeeee;
	height: 28px;
	margin-top: 4px;
	border-radius: 0;
}

.padding.type {
    margin-bottom: 0;
    padding-bottom: 0;
	padding-top: 0;
	margin-top: -10px;
}

.rate-per {
    margin-top: 20px;
	padding: 0 15px;
}
.rate-per .col:first-child{
    border-right: 1px solid #efefef;
}

.rate-per .col {
    padding: 15px 5px;
    text-align: center;
	border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.rate-per .ttl{
	font-size: 11px;
}

.add-item-wrap .input-snip {
    width: 100px;
    display: inline-block;
    text-align: center;
    height: 40px;
    font-size: 130%
}

.rate-per i {
    color: #97bb3d;
    vertical-align: baseline;
	font-size: 9px;
}

.auth-wrap {
	padding: 10px 15px 0;
}

.auth-wrap .col {
	border-bottom: 1px solid #efefef;
	padding: 5px 0 15px;
}

.auth {
    color: #898989;
    position: relative;
    top: 3px;
    font-size: 13px;
}

.auth-wrap .auth {
	top: 8px;
}

.toggle .track {
	width: 47px;
	height: 25px;
	border: 1px solid #d7d7d7;
}

.toggle .handle {
	width: 23px;
	height: 23px;
	left: 6px;
	top: 6px;
}

.toggle input:checked + .track {
    background: #f5f5f5;
    border-color: #dfdfdf;
    border-width: 1px;
}

.toggle input:checked + .track .handle {
    background-color: #728f29;
}

.toggle input:checked + .track .handle:after {
    content: "\f3fd";
	color: #fff;
	position: absolute;
	left: 6px;
	top: -9px;
	font-family: "Ionicons";
	font-size: 30px;
}

.add-item-wrap .ion-chatbox {
    color: #728f29;
}

.swap-wrap {
	padding-bottom: 0;
}

.add-button {
	height: 35px;
	min-height: 0;
	line-height: 35px;
	font-weight: 600;
}

.product-fuch textarea {
    height: 55px;
}

.product-fuch .padding {
    padding: 7px 15px;
}

.contacts {
    margin-top: 35px;
}

.contacts .ttl {
    color: #404040;
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 15px;
}

.contacts p {
    font-size: 90%;
    font-weight: 600;
    color: #939393;
    margin-bottom: 5px;
}

.about > p {
    font-size: 90%;
    line-height: normal;
}

.about {
    padding-top: 40px;
}

.register-block select {
    width: 100%;
    height: 35px;
    border-radius: 0!important;
    font-size: 12px;
    color: #999;
}

.register-block .button {
	min-height: 38px;
	line-height: 38px;
	font-weight: 600;
}